*.pyc
TODO
TAGS

resources/js/*.min.js
resources/js/all*.js
resources/js/_*.js
resources/js/wsrc*.js

resources/css/*.min.css
resources/css/all*.css
resources/css/_*.css

resources/images/sources
resources/images/icons-png

chrome_app/js/*.js
chrome_app/css/*.css
chrome_app/*.zip

.pydevproject
.ropeproject
*.bak

docs
etc
build
dist
