*.pyc
TODO
TAGS

resources/js/restful.js
resources/js/*.min.js
resources/js/all*.js
resources/js/_*.js

resources/css/*.min.css
resources/css/all*.css
resources/css/_*.css

resources/images/sources
resources/images/icons-png

.pydevproject
.ropeproject
*.bak

docs
etc
build
dist
