backports.functools-lru-cache==1.6.6
beautifulsoup4==4.9.3
Django==1.11
djangorestframework==3.11.2
httplib2==0.22.0
icalendar==4.1.1
lxml==5.0.2
Markdown==3.1.1
mod-wsgi==4.5.18
mysqlclient==1.4.6
pyparsing==2.4.7
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
soupsieve==1.9.6
xlrd==2.0.1
XlsxWriter==2.0.0

