{% extends "06_wsrc_navigation.html" %}
{% block pagetitle %}Court Booking{% endblock %}
{% block page_classes %}edit-entry{% endblock %}
{% load kwacros %}
{% loadkwacros 'form_macros.html' %}
{% block centered_page_content %}

<form method="POST" action="" data-ajax="false" class="settings-form">
<input type="hidden" name="next" value="{{ back_url }}"/>

<fieldset>
<legend>{% if mode == 'create' %}New Booking{% elif mode == 'update' %}Update Booking{% else %}Booking Details{% endif %}</legend>

{% include "form_snippet.html" with form=booking_form %}

{% if booking_form.no_show.value %}
 <div class="ui-field-contain">
  <label>&nbsp;</label>
  <span class="noshow">This court has been reported as unused (NO&nbsp;SHOW)</span>
 </div>
{% endif %}

<div class="buttonset">
{% if mode ==  'create' %}
 {% if booking_form.is_valid %}
 <button class="ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-check" type="submit">Book this Court</button>
 {% endif %}
{% else %}
 {% if mode == 'update' %}
  <button name="action" value="Update" class="ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-check" type="submit">Update</button>
  {% if days_diff < 0 or seconds_diff < 0 %} 
  <button name="action" value="Delete" class="ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-delete" onclick="if (! confirm('Are you sure you want to delete this entry?\n')) return false;">Delete</button>
  {% endif %}
 {% endif %}
 {% if days_diff != None %} 
 {% if days_diff < 0 or days_diff == 0 and seconds_diff < 0 %} 
  <a class="ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-calendar" href="{% url 'cal_invite' %}/{{ booking_id }}" data-ajax='false' title="Send a calendar invite for this booking">Send Invite</a>
 {% endif %}
 {% if booking_user_id and days_diff == 0 and seconds_diff > 900 %}
  {% if not booking_form.no_show.value %}                   
   <button name="action" value="report_noshow" class="ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-alert" onclick="if (! confirm('Are you sure you want to report this court as unused?\n')) return false;">Report a NO-SHOW</button>
  {% else %}
   <button name="action" value="remove_noshow" class="ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-alert">Remove NO-SHOW</button>   
  {% endif %}
 {% endif %}
 {% endif %}
{% endif %}
<a class="ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-back" href="{{ back_url }}" data-role="back" data-ajax='false'>Back</a>
</div>

</fieldset>
</form>


{% endblock %}

