{% extends "06_wsrc_navigation.html" %}
{% block pagetitle %}Court Booking{% endblock %}
{% block page_classes %}edit-entry{% endblock %}
{% load kwacros %}
{% loadkwacros 'form_macros.html' %}
{% block centered_page_content %}

<form method="{% if mode == 'view' %}GET{% else %}POST{% endif %}" action="{% url 'wsrc.site.courts.views.edit_entry_view' %}{% if mode == 'update' %}/{{ booking_form.booking_id.value }}?method=PATCH{% endif %}" data-ajax="false" class="settings-form">
  

<fieldset>
  <legend>{% if mode == 'create' %}New Booking{% elif mode == 'update' %}Update Booking{% else %}Booking Details{% endif %}</legend>

{% if booking_form.no_show.value %}
  <div class="ui-field-contain">
    <label>&nbsp;</label>
    <span class="noshow">
      This court has been reported as unused (NO&nbsp;SHOW)
    </span>
  </div>
{% endif %}
  
    {% include "form_snippet.html" with form=booking_form %}

  
<div class="buttonset">
{% if mode ==  'create' %}
  {% if booking_form.is_valid %}
<button class="ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-check" type="submit">Book this Court</button>
  {% endif %}
{% else %}
 {% if mode == 'update' %}
<button class="ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-check" type="submit">Update</button>
  {% if days_diff < 0 or seconds_diff < 0 %} 
<button class="ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-delete" onclick="if (confirm('Are you sure you want to delete this entry?\n')) getElementById('booking_delete_form').submit(); return false;">Delete</button>
  {% endif %}
 {% endif %}
 {% if days_diff < 0 or days_diff == 0 and seconds_diff < 0 %} 
<a class="ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-calendar" href="{% url 'cal_invite' %}/{{ booking_id }}" data-ajax='false' title="Send a calendar invite for this booking">Send Invite</a>
 {% endif %}
{% if booking_user_id and days_diff == 0 and seconds_diff > 900 %}
  {% if not booking_form.no_show.value %}                   
   <button class="ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-alert" onclick="if (confirm('Are you sure you want to report this court as unused?\n')) getElementById('noshow_report_form').submit(); return false;">Report a NO-SHOW</button>
  {% else %}
   <button class="ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-alert" onclick="getElementById('noshow_report_form').submit(); return false;">Remove NO-SHOW</button>   
  {% endif %}
 {% endif %}
{% endif %}
<a class="ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-back" href="{{ back_url }}" data-role="back" data-ajax='false'>Back</a>
</div>

</fieldset>
</form>

{% if mode == "update" %}
{% if days_diff < 0 or days_diff == 0 and seconds_diff < 0 %}
<form id="booking_delete_form" action="{% url 'booking' %}/{{ booking_form.booking_id.value }}?method=DELETE" method="POST">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ back_url }}"/>
</form>
{% endif %}
{% endif %}

{% if mode != "create" and booking_user_id and days_diff == 0 and seconds_diff > 900 %}
<form id="noshow_report_form" action="{% url 'booking' %}/{{ booking_id }}?method=PATCH" method="POST">
  {% csrf_token %}
  {% if booking_form.no_show.value %}
  <input type="hidden" name="action" value="remove_noshow" />
  {% else %}
  <input type="hidden" name="action" value="report_noshow" />
  {% endif %}
  <input type="hidden" name="next" value="{{ back_url }}"/>
</form>
{% endif %}                  


{% endblock %}

