{% extends "06_wsrc_navigation.html" %}

{% block html_header_extra %}
{{ block.super }}
<meta name="robots" content="noindex" />
<link href="/static/css/courts.css" rel="stylesheet" />
{% endblock %}

{% block titleprefix %}Invite - {% endblock %}

{% block centered_page_content %}
<form method="POST" class="form-horizontal cal_invite">{% csrf_token %}
  <fieldset>
    <legend>Send Calendar Event</legend>
    
    <input type="hidden" name="next" value="{{ back_url }}"/>

    {% include "form_snippet.html" %}
    
    <div class="buttonset">
      <button class="btn btn-default"><span class="glyphicon glyphicon-ok"></span>&nbsp;Send&nbsp;Invite</button>
      <a class="btn btn-default" href="{{ back_url }}" data-role="back"><span class="glyphicon glyphicon-step-backward"></span>&nbsp;Back</a>
    </div>
  </fieldset>
</form>
{% endblock %}

