{% extends "06_wsrc_navigation.html" %}
{% block pagetitle %}Court Booking{% endblock %}
{% block page_classes %}edit-entry{% endblock %}
{% load kwacros %}
{% loadkwacros 'form_macros.html' %}
{% block centered_page_content %}


<div id="booking_calendar_invite_form">
  <form action="" method="POST" class="settings-form" data-ajax="false" >
    <fieldset>
    <legend>Send Calendar Event</legend>
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ back_url }}"/>

    {% include "form_snippet.html" %}
    
<div class="buttonset">
  <button class="ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-calendar">Send</button>
  <a class="ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-delete" href="{% url 'booking' }}/{{ id }}" data-role="back" data-ajax='false'>Cancel</a>
</div>
</fieldset>
  </form>
</div>

{% endblock %}

