{% extends "06_wsrc_navigation.html" %}

{% block titleprefix %}Court Booking {% if is_admin_view %}[ADMIN] {% endif %}- {% endblock %}
{% block pagetitle %}Courts{% endblock %}

{% block html_header_extra %}
{{ block.super }}
<meta name="robots" content="noindex" />

{% endblock %}

{% block body_extra_classes %}{{ block.super }}{% if is_admin_view %} admin-view{% endif %}{% endblock %}

{% block container-classes %}{{ block.super }} restrict-width{% endblock %}
{% block centered_page_content %}

<form class="form-inline">
  <div class="datepicker_container">
    <div class="input-group">
      <span class="input-group-btn">
        <a class="btn btn-default previous" title="Go to previous day [Alt-P]" href='{% if is_admin_view %}{% url "courts_admin" prev_date %}{% else %}{% url "courts" %}/{{ prev_date|date:"Y-m-d" }}{% endif %}'><span class="glyphicon glyphicon-chevron-left"></span></a>
      </span>
      <input type="text" class="form-control date-input" placeholder="YYYY-MM-DD" value='{{ date|date:"D, j N Y" }}'>
      <div class="input-group-btn">
        <a class="btn btn-default refresh" title="Refresh all data [Alt-R]" href='{% url 'courts' %}/{{ date|date:"Y-m-d" }}'><span class="glyphicon glyphicon-refresh"></span></a>
{% if court_admin %}
        <a class="btn btn-default toggle_admin" title="Toggle Admin View" href='#'><span class="glyphicon glyphicon-flash"></span></a>
{% endif %}
        <a class="btn btn-default next" title="Go to next day [Alt-N]" href='{% if is_admin_view %}{% url "courts_admin" next_date %}{% else %}{% url 'courts' %}/{{ next_date|date:"Y-m-d" }}{% endif %}'><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div>
  </div>
</form>

<div id="booking-day">
  {{ day_table|safe }}
</div>

<footer>
<form class="form-inline">
  <div class="datepicker_container">
    <div class="input-group">
      <span class="input-group-btn">
        <a class="btn btn-default previous" title="Go to previous day [Alt-P]" href='{% if is_admin_view %}{% url "courts_admin" prev_date %}{% else %}{% url "courts" %}/{{ prev_date|date:"Y-m-d" }}{% endif %}'><span class="glyphicon glyphicon-chevron-left"></span></a>
      </span>
      <input type="text" class="form-control date-input" placeholder="YYYY-MM-DD" value='{{ date|date:"D, j N Y" }}'>
      <div class="input-group-btn">
        <a class="btn btn-default refresh" title="Refresh all data [Alt-R]" href='{% url 'courts' %}/{{ date|date:"Y-m-d" }}'><span class="glyphicon glyphicon-refresh"></span></a>
        {% if court_admin %}
        <a class="btn btn-default toggle_admin" title="Toggle Admin View" href='{% url 'courts_admin' date %}'><span class="glyphicon glyphicon-flash"></span></a>
        {% endif %}
        <a class="btn btn-default next" title="Go to next day [Alt-N]" href='{% if is_admin_view %}{% url "courts_admin" next_date %}{% else %}{% url 'courts' %}/{{ next_date|date:"Y-m-d" }}{% endif %}'><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div>
  </div>
</form>
</footer>

<form id="court_booking_form" method="POST" action="{% url 'booking' %}">
{% csrf_token %}
<input type="hidden" name="name" value="{{ booking_user_name }}"/>
<input type="hidden" name="booking_type" value="I" />
<input type="hidden" name="date" />
<input type="hidden" name="duration" />
<input type="hidden" name="start_time" />
<input type="hidden" name="court" />
<input type="hidden" name="token" />
</form>

{% endblock %}

{% block body_script_extra %}
{% if debug %}
<script src="/static/js/jquery-ui.js"></script>
{% else %}
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
   crossorigin="anonymous"></script>
{% endif %}
<script>
 var controller = wsrc.court_booking.onReady("{% url 'courts' %}", {% if is_admin_view %}true{% else %}false{% endif %});
 function handle_booking_request(e, elt) {
     return controller.handle_booking_request(e, elt);
 }
</script>

{% endblock %}

