{% extends "06_wsrc_navigation.html" %}

{% block html_header_extra %}
{{ block.super }}
<meta name="robots" content="noindex" />
<link href="/static/css/wsrc_courts.css" rel="stylesheet" />
<style>
 .toggled {
     display: none;
 }
 form.notifier select {
     width: auto;
     display: inline-block;
 }
 form.notifier legend {
     border-bottom: 0;
 }
 .notifier_fieldset {
     padding-bottom: 15px;
     padding-top: 15px;
     border-bottom: 1px #ddd solid;
 }
 .notifier_fieldset:first-child {
     border-top: 1px #ddd solid;
 }
</style>
{% endblock %}

{% block titleprefix %}Standby Emails - {% endblock %}

{% block centered_page_content %}

<form method="POST" class="notifier form-horizontal">{% csrf_token %}
  <div class="well">
  <p>
  When a court booking is cancelled by someone else, the system can send you an email, giving you the opportunity to book the slot for yourself. This can be a good way to pick up  &lsquo;secondary&rsquo; peak-time court slots.
  </p>
  <p>
    You can configure notifications for court slots at different times of day and different days in the week.<sup>*</sup> You currently have <strong>{{ n_notifiers }}</strong> notifier{{ n_notifiers|pluralize }} set up.
  </p>
  </div>

  {% if form_saved %}
  <div class="alert alert-success">Notification settings saved.</div>
  {% endif %}

  {% if notify_formset.total_error_count %}
  <div class="alert alert-danger">
    Validation Error. Please correct the problem(s) below and resubmit.
  </div>
  {% endif %}
    
  {{ notify_formset.management_form }}

  <div class="fields">
  {% for form in notify_formset %}
  <div class="notifier_fieldset {% if forloop.counter > n_notifiers and form.errors|length == 0 %}toggled{% else %}togglable{% endif %}"
       id="fieldset-{{ forloop.counter0 }}" data-fieldset-id="{{ forloop.counter0 }}">
  <fieldset class="notifier">
    {% if form.non_field_errors %}
    <div class="alert alert-danger">
      {% for err in form.non_field_errors %}
      {{ err }}<br />
      {% endfor %}
    </div>
    {% endif %}
    
    {{ form.player }}
    {{ form.id }}

    {% include "form_field_radio_snippet.html" with field=form.days label_class='checkbox-inline' %}
    
    <div class="form-group {% if form.earliest.errors or form.latest.errors %}has-error{% endif %} time-fields">
      <label class="col-sm-3 control-label">Times:</label>
      <div class="col-sm-9">
        {{ form.earliest }}&nbsp;to&nbsp;{{ form.latest }}
        {% if form.earliest.errors or form.latest.errors %}
        <span class="help-block">{% for err in form.earliest.errors %}{{ err }}. {% endfor %}{% for err in form.latest.errors %}{{ err }}. {% endfor %}</span>        
        {% endif %}
      </div>
    </div>

    {% include "form_field_snippet.html" with field=form.notice_period_minutes %}

    <input id="{{ form.DELETE.id_for_label }}" name="{{ form.DELETE.html_name }}" type="hidden" class="delete" />
    <button class="btn btn-default delete pull-right" type="button"><span class="glyphicon glyphicon-remove"></span>&nbsp;Delete this Notifier</button>
  </fieldset>
  </div>
  {% endfor %}
  </div>
  
  <div class="buttonset">
    <button class="btn btn-primary" id="add-notifier-button" type="button"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add a Notifier</button>
    <button class="btn btn-success" name="action" value="Update" type="submit"><span class="glyphicon glyphicon-ok"></span>&nbsp;Save Changes</button>
  </div>

  <footer class="small">
    <sup>*</sup>In setting up a notifier, you are consenting to the club sending you emails relating to court cancellations. You can stop these emails at any time by deleting all of your notifiers.
  </span>
</form>

{% endblock %}

{% block body_script_extra %}
<script>
 wsrc.notifiers.onReady()
</script>
{% endblock %}
