{% extends "06_wsrc_navigation.html" %}
{% block pagetitle %}Standby Emails{% endblock %}
{% load kwacros %}
{% loadkwacros 'form_macros.html' %}
{% block centered_page_content %}

<form id="notifiers_form" method="post" action="{% url 'notifier' %}" data-ajax="false" class="toggle-root">

  <p>
  When a court booking is cancelled by someone else, the system can send you an email, giving you the opportunity to book the slot for yourself. This can be a good way to pick up  &lsquo;secondary&rsquo; peak-time court slots.
  </p>
  <p>
  You can configure notifications for court slots at different times of day and different days in the week<sup>*</sup>. You currently have {{ n_notifiers }} notifier{{ n_notifiers|pluralize }} set up.
  <br />
  <span class="helptext">
    <sup>*</sup>In setting up a notifier, you are consenting for the club to send you emails relating to court cancellations. You may withdraw your consent at any time by deleting all notifiers.
  </span>
  </p>

  {% csrf_token %}

  {% if form_saved %}
  <div class="form_success_message">Notification settings saved.</div>
  {% endif %}

  {% if notify_formset.total_error_count %}
  <span class="form_error_message ui-btn-icon ui-btn-icon-left ui-icon-alert">Validation Error. Please correct the problem(s) below and resubmit.</span>
  <!-- {{ notify_formset.errors }} -->
  {% endif %}

    
  {{ notify_formset.management_form }}
  {% for form in notify_formset %}
  <div class="notifier_fieldset {% if forloop.counter > n_notifiers and form.errors|length == 0 %}toggled{% else %}togglable{% endif %}"
       id="fieldset-{{ forloop.counter0 }}" data-fieldset-id="{{ forloop.counter0 }}">
  <fieldset class="notifier">
    <legend>Notifier</legend>
    {% for err in form.non_field_errors %}
    <div class="form_error_message">Error: {{ err }}</div>
    {% endfor %}
    
    {{ form.id }}
    {% usekwacro createradiofield form.days %}
    <div class="ui-field-contain {% if form.earliest.errors or form.latest.errors %}field-error{% endif %}">
      <label>Times:</label>{{ form.earliest }}<span class="ui-btn-inline">&nbsp;to&nbsp;</span>{{ form.latest }}
      {% if form.earliest.errors or form.latest.errors %}<div class="clear-all"></div><label>&nbsp;</label><span class="field-error">{% for err in form.earliest.errors %}{{ err }}. {% endfor %}{% for err in form.latest.errors %}{{ err }}. {% endfor %}</span>{% endif %}
    </div>
      
    {% usekwacro createfield form.notice_period_minutes %}
    <input id="{{ form.DELETE.id_for_label }}" name="{{ form.DELETE.html_name }}" type="hidden" class="delete" />
    {{ form.player }}

    <button class="delete" data-inline="True" data-icon="delete" type="button">Delete this Notifier</button>
  </fieldset>
  </div>
  {% endfor %}
  
  <div class="buttonset">
    <button class="ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-plus" id="add-notifier-button" type="button">Add a Notifier</button>
    <button class="ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-check" name="action" value="Update" type="submit">Save Changes</button>
  </div>

</form>
<script>
  wsrc.notifiers.onReady()
</script>

{% endblock %}
