
@import "variables.less";

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

body > nav {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    @media (max-width: @screen-sm-min) {
        .navbar-nav .open .dropdown-menu>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    @media (min-width: @screen-lg-min) {
        font-size: 15px;
        .navbar-brand {
            height: 70px;
        }
        .navbar-nav > li > a {
            padding: 25px 20px;
        }
        .navbar-right > span {
            margin-top: 25px;
        }
        .navbar-right > a.btn {
            margin-top: 18px;
        }
    }
}

body > div.container,
body > div.container-fluid {

    margin-top: 20px;
    margin-bottom: 30px;

    @media (max-width: @screen-sm-min) {
        padding-left: 10px;
        padding-right: 10px;
    };
    & > footer {
        margin-top: 30px;
        width: 100%;
    }

    .btn {
        font-family: "Roboto", Helvetica, Arial, sans-serif;
    }
}

body > div.container.restrict-width,
body > div.container-fluid.restrict-width {
    @media (min-width: @screen-lg-min) {
        width: @screen-md-min;
    }
}

@media print {
    body > div.container {
        width: 100%;
    }
}

.underline {
    text-decoration: underline;
}

button span.glyphicon {
    margin-right: 3px;
}
