{% extends "06_wsrc_navigation.html" %}
{% block titleprefix %}Member List - {% endblock %}

{% block html_header_extra %}
<meta name="robots" content="noindex" />
{{ block.super }}
<style>
input.search-query {
    padding-left:26px;
}
form.form-search {
    position: relative;
    padding-bottom: 15px;
}
form.form-search:before {
    display: block;
    width: 14px;
    height: 14px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    background-position: -48px 0;
    position: absolute;
    top:8px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}
</style>
{% endblock %}
{% block centered_page_content %}

<div class="wsrc-member-list">
  <form class="form-inline form-search pull-right">
    <div class="input-group"> <!-- {{ form.search }} -->
      <input name="search" class="form-control search-query" placeholder="Search . . ." {% if form.search.value %}value="{{ form.search.value }}"{% endif %}>
      <span class="input-group-btn"><button type="submit" class="btn btn-primary"> Search</button></span>
    </div>
  </form>
  <table class="table table-striped table-compact table-reflow">
    <thead>
      <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>Telephone</th>
        <th>Mobile</th>
      </tr>
    </thead>
    <tbody class="filterable">
{% for member in object_list %}
<tr class="" data-wsrcfilter="{{ member.id }}">
  <td><span>Name:</span> <span class="searchtext">{{ member.user__first_name }} {{ member.user__last_name }}</span></td>
  <td><span>E-Mail:</span> <a href="mailto:{{ member.user__email }}" class="searchtext">{{ member.user__email }}</a></td>
  <td><span>Phone:</span> <a href="tel:{{ member.other_phone|urlencode }}" class="searchtext">{{ member.other_phone }}</a></td>
  <td><span>Mobile:</span> <a href="sms:{{ member.cell_phone|urlencode }}" class="searchtext">{{ member.cell_phone }}</a></td>
</tr>
{% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block body_script_extra %}
<script>
 var form = $("form.form-search")
 form.submit(function(evt) {
     evt.preventDefault()
     var search_val = form.find(":input[name='search']").val()
     search_val = search_val.toLowerCase()
     $("tbody.filterable tr").each(function(idx, elt) {
         var row = $(elt);
         var passed = true
         if (search_val) {
             passed = false
             row.find(".searchtext").each(function(idx, elt) {
                 if (elt.innerText.toLowerCase().indexOf(search_val) >= 0) {
                     passed = true
                     return false
                 }
             });
         }
         if (passed)
             row.show()
         else
             row.hide()
     });         
 });
</script>
{% endblock %}
