<!DOCTYPE html>

{% load kwacros %}
{% load wsrc_utils %}
{% loadkwacros 'form_macros.html' %}

<html class="memberlist_admin">
<head>

  <link rel="stylesheet" href="/static/css/all_admin_memberlist.css">
  <script src="/static/js/all_admin_memberlist.js"></script>

  <title>Membership List Admin Form - Woking Squash Rackets Club</title>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      window['wsrc_admin_memberlist_membership_types'] = {{ membership_types|safe }};
      var db_memberlist  = {{ db_members_data|safe }};
      var ss_memberlist  = {{ ss_members_data|safe }};
      var ss_vs_db_diffs = {{ ss_vs_db_diffs|safe }};
      wsrc.admin.memberlist.onReady(db_memberlist, ss_memberlist, ss_vs_db_diffs);
    });
  </script>
</head>

<body>
  <div id="tabs" class="initiallyHidden">
    <ul>
      <li><a href="#db_memberlist">Website DB</a></li>
      <li><a href="#ss_memberlist">Membership Spreadsheet</a></li>
{% if not upload_form %}
      <li><a href="#ss_vs_db_diffs">Website vs Spreadsheet</a></li>
{% endif %}
      <li><a href="#bs_memberlist">Booking System</a></li>
      <li class="ui-helper-hidden"><a href="#bs_vs_db_diffs">Website vs Booking System</a></li>
    </ul>

    <div id="db_memberlist">
      <p>Full contents of the webiste database. Double-click on a row to open the corresponding admin page.</p>
      <div class="container">
        <table class="memberlist-db fullpage compact hover nowrap order-column row-border stripe" >
          <thead>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>

    <div id="ss_memberlist" class="">

{% if upload_form %}
      <form action="{% url 'wsrc.site.usermodel.views.admin_memberlist_view' %}/#ss_memberlist" enctype="multipart/form-data" method="post">{% csrf_token %}
        <fieldset name="file_upload" class="ui-corner-all">
          <legend>File Upload</legend>
{% usekwacro createfield upload_form.sheetname False %}
{% usekwacro createfield upload_form.file True %}
        </fieldset>
      </form>
{% else %}
      <p>Contents of the uploaded spreadsheet. See the next tab for comparison to the website database.</p>
{% endif %}
      <div class="container">
        <table class="memberlist-ss fullpage compact hover nowrap order-column row-border stripe">
          <thead>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

    </div>

{% if not upload_form %}
    <div id="ss_vs_db_diffs" class="comparison_wrapper">
      <h2>Missing from Website Database</h2>
      <p>Right-click on a row to create a new record in the website database.</p>
      <div class="container">
        <table class="memberlist-ss missing-from-db compact hover nowrap order-column row-border stripe">
          <thead>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <h2>Missing from Membership Spreadsheet</h2>
      <p>Double-click on a row to open the corresponding admin page.</p>
      <div class="container">
        <table class="memberlist-db missing-from-other compact hover nowrap order-column row-border stripe">
          <thead>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <h2>Differences</h2>
      <p>Top value is website DB, bottom is membership spreadsheet. Right-click on a difference to set the spreadsheet value into the website DB. Double-click on a row to open the corresponding admin page.</p>
      <div class="container">
        <table class="differences compact hover nowrap order-column row-border stripe">
          <thead>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
{% endif %}

    <div id="bs_memberlist" class="">

      <form id="booking_system_credentials" action="#" method="get">{% csrf_token %}
        <fieldset class="ui-corner-all">
          <legend>Booking System</legend>
          <p>Please supply credentials to retreive the contacts list from the booking system website (these are not stored on the server).</p>
{% usekwacro createfield booking_credentials_form.username False %}
{% usekwacro createfield booking_credentials_form.password True %}
        </fieldset>
      </form>
      <div class="container">
        <table class="memberlist-bs fullpage compact hover nowrap order-column row-border stripe">
          <thead>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

    </div>

    <div id="bs_vs_db_diffs" class="ui-helper-hidden">
      <h2>Missing from Website DB</h2>
      <p>Ensure the website DB and membershp spreadsheet are in sync before taking any action. Bear in mind that because the data is only matched by name, "missing" records may just be due to minor name differences.</p>
      <div class="container">
        <table class="memberlist-bs missing-from-db compact hover nowrap order-column row-border stripe">
          <thead>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <h2>Missing from Booking System</h2>
      <p>Double-click on a row to open the corresponding admin page.</p>
      <div class="container">
        <table class="memberlist-db missing-from-other compact hover nowrap order-column row-border stripe">
          <thead>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <h2>Differences</h2>
      <p>Top value is website DB, bottom is booking system contact. Right-click on a difference to set the booking system value into the website DB. Double-click on a row to open the corresponding admin page.</p>
      <div class="container">
        <table class="differences compact hover nowrap order-column row-border stripe">
          <thead>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>

  </div>


 <div id="new_member_form_dialog" title="New Member Form" class="ui-helper-hidden dialog-form">
  <form method="get" action="#">{% csrf_token %}
    <fieldset class="user">
      <legend>New User Details</legend>
{% usekwacro createfield new_user_form.username %}
{% usekwacro createfield new_user_form.password %}
{% usekwacro createfield new_user_form.first_name %}
{% usekwacro createfield new_user_form.last_name %}
{% usekwacro createfield new_user_form.email %}
{% usekwacro createfield new_user_form.is_active %}
    </fieldset>
    <fieldset class="player">
      <legend>Membership Details</legend>
{% usekwacro createfield new_member_form.membership_type %}
{% usekwacro createfield new_member_form.wsrc_id %}
{% usekwacro createfield new_member_form.cardnumber %}
{% usekwacro createfield new_member_form.cell_phone %}
{% usekwacro createfield new_member_form.other_phone %}
{% usekwacro createfield new_member_form.prefs_receive_email %}
    </fieldset>
    <input type="button" value="Create" onclick="wsrc.admin.memberlist.on('new_member_submit_handler')">
  </form>
 </div>

 <div id="change_member_form_dialog" title="Update User Details" class="ui-helper-hidden dialog-form">
  <form method="get" action="#">{% csrf_token %}
    <fieldset>
      <legend>User Details</legend>
{% usekwacro createfield change_user_form.first_name %}
{% usekwacro createfield change_user_form.last_name %}
{% usekwacro createfield change_user_form.email %}
{% usekwacro createfield change_user_form.is_active %}
{% usekwacro createfield change_member_form.membership_type %}
{% usekwacro createfield change_member_form.wsrc_id %}
{% usekwacro createfield change_member_form.cardnumber %}
{% usekwacro createfield change_member_form.cell_phone %}
{% usekwacro createfield change_member_form.other_phone %}
{% usekwacro createfield change_member_form.prefs_receive_email %}
    </fieldset>
    <input type="button" value="Update" onclick="wsrc.admin.memberlist.on('change_member_submit_handler')">
  </form>
 </div>

</body>
</html>
