{% extends "06_wsrc_navigation.html" %}
{% block titleprefix %}Membership Application - {% endblock %}

{% block html_header_extra %}
{% endblock %}

{% block centered_page_content %}

<h2>Email Verified Successfully</h2>

<p>Thank you {{ object.first_name }} for your application to join Woking Squash Rackets Club.</p>

<p>Your email address has now been verified. The membership secretary will be in touch shortly to complete the process.</p>


{% endblock %}

{% block body_script_extra %}
{% endblock %}
