{% extends "06_wsrc_navigation.html" %}
{% block pagetitle %}Settings{% endblock %}
{% load kwacros %}
{% loadkwacros 'form_macros.html' %}
{% block centered_page_content %}

<form id="settings_form" method="post" action="{% url 'settings' %}" data-ajax="false" class="settings-form">
{% csrf_token %}

{% if form_saved %}
<span class="form_success_message">Settings saved.</span>
{% endif %}

{% if user_form.errors or player_form.errors or notify_formset.total_error_count %}

<span class="form_error_message ui-btn-icon ui-btn-icon-left ui-icon-alert">Validation Error. Please correct the problem(s) below and resubmit.</span>

{% for err in user_form.non_field_errors %}
  <div class="form_error_message">{{ err }}</div>
{% endfor %}

{% for err in player_form.non_field_errors %}
  <div class="form_error_message">{{ err }}</div>
{% endfor %}


{% endif %}

<input type="hidden" name="next" value="{% url 'settings' %}" />

<fieldset name="personal_details">
<legend>Personal Details</legend>
{% usekwacro createfield user_form.first_name %}
{% usekwacro createfield user_form.last_name %}
{% if player_form.date_of_birth %}
{% usekwacro createfield player_form.date_of_birth %}
{% endif %}
{% usekwacro createfield user_form.email %}
{% usekwacro createfield player_form.cell_phone %}
{% usekwacro createfield player_form.other_phone %}
</fieldset>

<fieldset name="contact_details">
  <legend>Permission to Use Personal Data<sup style="color: black;">*</sup></legend>
{% usekwacro createfield_helptext player_form.prefs_receive_email %}
{% usekwacro createfield_helptext player_form.prefs_esra_member %}
{% usekwacro createfield_helptext player_form.prefs_display_contact_details %}
<footer class="helptext">
<sup>*</sup>From May 2018 you must explicitly consent for your personal data to be used by the club. If any of these questions have not been answered, we will assume the answer is "No".
</footer>
</fieldset>

<fieldset name="information">
<legend>General Information</legend>
{% usekwacro createfield user_form.username %}
<div class="ui-field-contain">
 <label>Password:</label>
 <label class="ui-btn-c"><input id="id_password" type="checkbox" checked="checked" onclick="document.location='{% url 'password_change' %}'; this.checked=true; return false;"> Set (click to change)</label>
</div>
{% usekwacro createfield info_form.subscription %}
{% usekwacro createfield info_form.booking_system_id %}
{% usekwacro createfield info_form.squashlevels_id %}
{% usekwacro createfield info_form.doorcards %}
</fieldset>

<input id="submit_button" type="submit" value="Update" data-theme="b" />

</form>

{% endblock %}
