{% extends "06_wsrc_navigation.html" %}
{% block titleprefix %}Settings - {% endblock %}

{% block html_header_extra %}
<meta name="robots" content="noindex" />
{{ block.super }}
<style>
</style>
{% endblock %}

{% block centered_page_content %}

<form id="settings_form" method="post" class="form-horizontal user">
{% csrf_token %}

{% if form_saved %}
<div class="alert alert-success">Settings saved.</div>
{% endif %}

{% if user_form.errors or player_form.errors or notify_formset.total_error_count %}
  <div class="alert alert-danger">
    Validation Error. Please correct the problem(s) below and resubmit.
  </div>

{% for err in user_form.non_field_errors %}
  <div class="alert alert-danger">{{ err }}</div>
{% endfor %}

{% for err in player_form.non_field_errors %}
  <div class="alert alert-danger">{{ err }}</div>
{% endfor %}


{% endif %}

<input type="hidden" name="next" value="{% url 'settings' %}" />

<fieldset name="personal_details">
<legend>Personal Details</legend>
{% include "form_field_snippet.html" with field=user_form.first_name %}
{% include "form_field_snippet.html" with field=user_form.last_name %}
{% include "form_field_snippet.html" with field=user_form.email %}
{% include "form_field_snippet.html" with field=player_form.cell_phone %}
{% include "form_field_snippet.html" with field=player_form.other_phone %}
{% include "form_field_snippet.html" with field=player_form.gender %}
{% if player_form.date_of_birth %}
{% include "form_field_snippet.html" with field=player_form.date_of_birth %}
{% endif %}
</fieldset>

<fieldset name="contact_details">
  <legend>Permission to Use Personal Data<sup style="color: black;">*</sup></legend>
  {% include "form_field_snippet.html" with field=player_form.prefs_receive_email %}
  {% include "form_field_snippet.html" with field=player_form.prefs_esra_member label="England Squash Enrolment<sup>&dagger;</sup>" %}
  {% include "form_field_snippet.html" with field=player_form.prefs_display_contact_details %}
</fieldset>

<fieldset name="information">
<legend>General Information</legend>
{% include "form_field_snippet.html" with field=user_form.username help_text="To change your password, <a class='underline' href='/password/change' >click here</a>." %}
{% include "form_field_snippet.html" with field=info_form.subscription %}
{% include "form_field_snippet.html" with field=info_form.england_squash_id help_text="Your ID number on the England Squash website, if known." %}
{% include "form_field_snippet.html" with field=info_form.squashlevels_id help_text="Your ID number on the SquashLevels website, if known. This is generally set if you have entered county or national competitions. The club does not pass on your details to SquashLevels." %}
{% include "form_field_snippet.html" with field=info_form.doorcards %}
</fieldset>

<div class="buttonset">
  <button class="btn btn-primary" type="submit" value="Update"><span class="glyphicon glyphicon-ok"></span>&nbsp;Save Changes</button>
</div>

<hr />
<footer class="small">
  <p>
    <sup>*</sup> From May 2018 you must explicitly consent for your personal data to be used by the club. If any of these questions have not been answered, we will assume the answer is "No".
  </p>
  <p>
    <sup>&dagger;</sup> For more information, visit the <a class="underline" href="http://www.englandsquash.com/membership/players">England Squash website</a>. Note that you will not be able to play in Surrey league competitions or national competitions if you are not an ES member. If you do not want us to pass on your email address at the time you join us, you always have the option of contacting England Squash independently at a later time to activate your membership.
  </p>
</footer>

</form>

{% endblock %}
