
body {
    font-size: 0.9em;
}

.ui-corner-all {
   -webkit-border-radius:.2 !important;
   border-radius: 2 !important;
}

/* Header */
.wsrc-site .jqm-header {
    background: #fff;
    border-top: 4px solid #ed3338;
    border-bottom-color: #eee;
}

#main_div {
    max-width: 1000px;
}

.wsrc-site .jqm-header h2 {
    padding: .4em 0 .1em;
    margin: 0 3em;
}

.wsrc-site .jqm-header h2 a {
    display: inline-block;
    text-decoration: none;
    min-height: 40px;
}

.wsrc-site .jqm-header h2 img {
    display: block;
    width: 140px;
    height: auto;
}

.wsrc-site .jqm-header h2 > img {
    display: inline-block;
}

.wsrc-site .jqm-header p {
    position: absolute;
    bottom: -2em;
    left: 1em;
    margin: 0;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.wsrc-site .jqm-header .ui-btn {
    width: 2em;
    height: 2em;
    background: none;
    border: 0;
    top: 50%;
    margin-top: -1em;
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
    opacity: .4;
    filter: Alpha(Opacity=40);
}

.wsrc-site .jqm-header div.wsrc-login-block {
    position: absolute;
    right: 1em;
    top: 50%;
    height: 3em;
    margin-top: -1.5em;
    background: none;
    border: 0;
    text-align: center;
}

.wsrc-site .jqm-header a.wsrc-login-icon {
    position: relative;
    display: block;
    margin-left:  auto;
    margin-right: auto;
    margin-top: -1.5em;
}

.wsrc-site .jqm-header a.wsrc-login-textlink {
    color: #333;
    display: block;
    margin-top: 1.25em;
    padding: 0;
    opacity: .4;
    filter: Alpha(Opacity=40);
    text-decoration: none;
    font-weight: 300;
    font-size: 0.8em;
}

/* Footer */
.wsrc-site .jqm-footer.ui-footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 0;
}
.wsrc-site .jqm-footer {
    border-top: 1px solid #ed3338;
}


.wsrc-site .jqm-footer p {
    font-size: .8em;
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0 1.25em 1.25em;
}
.wsrc-site .jqm-footer p:first-child {
    font-size: 1em;
    color: #666;
    font-weight: 400;
    margin: 1em 1em .75em;
}
.wsrc-site .jqm-footer .last_updated {
    font-size: 0.8em;
    color: #666;
    font-weight: 400;
    margin: 1.5em 3% .25em 1.25em;
    float: right;
}


/* Content */
.wsrc-site .jqm-content {
    padding-top: 3em;
}
.wsrc-site .jqm-content h1,
.wsrc-site .jqm-content h2,
.wsrc-site .jqm-content h3,
.wsrc-site .jqm-content p,
.wsrc-site .jqm-content ul li,
.wsrc-site .jqm-content > a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.wsrc-site .jqm-content h1 {
    font-size: 2.4em;
    margin: 0 0 .625em;
}
.wsrc-site .jqm-content > div > h2 {
    color: #3eb249;
    background-color: transparent;
    border-bottom: 1px solid #ddd;
    font-size: 1.6em;
    padding-bottom: .2em;
    margin: 0 0 .7375em;
}
.wsrc-site .jqm-content h3 {
    color: #3eb249;
    background-color: transparent;
    font-size: 1.4em;
    margin: 0 0 1em;
}
.wsrc-site .jqm-content p {
    font-size: 1em;
    line-height: 1.5;
}
.wsrc-site .jqm-content > ul:not(.jqm-list) li {
    font-size: 1em;
    line-height: 1.5;
}
.wsrc-site .jqm-content p {
    margin: 0 0 1.25em;
}
.wsrc-site .jqm-content ul,
.wsrc-site .jqm-content ol {
    padding-left: 1.3em;
}
.wsrc-site .jqm-content .ui-listview {
    padding-left: 0;
}
.wsrc-site .jqm-content a,
.wsrc-site .jqm-content p a,
.wsrc-site .jqm-content ul:not(.jqm-list) li a {
    font-weight: 400;
    text-decoration: none;
}
.wsrc-site .jqm-content strong {
    font-weight: 700;
}
.wsrc-site .jqm-content p strong {
    font-weight: 400;
}

div.wsrc-membership {
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

.wsrc-membership table {
    width: 100%;
}

tr.odd > td {
    background-color: #f9f9f9;
}

.wsrc-footnote {
    font-size: 0.7em;
}

.wsrc-membership th, .wsrc-membership td {
    text-align: left;
    vertical-align: top;
    padding-right: 3em;
    border-bottom: 1px solid;
    color: #333;
}

.wsrc-membership th:last-child, .wsrc-membership td:last-child {
    padding-right: 0;
}


/* Homepage */
/*
.wsrc-home > .jqm-content > div > img {
    width: 460px;
    height: 288px;
    max-width: 100%;
    display: block;
}
*/

#cycler {
    position:relative;
    /*    width: 460px; */
    height: 288px;
    margin: 1em 0;
}
#cycler img{position:absolute;z-index:1; display:none;}
#cycler img.active{z-index:3; display:inline;}

/*
  .wsrc-home .ui-grid-a {
  margin: 2.5em -.5em -.5em;
  }
  */

.jqm-block-content {
    margin: .5em;
    padding: 1em;
    background: #fff;
    border: 1px solid #eee;
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
    font-family: 'Open Sans', sans-serif;
}
.jqm-block-content h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #3eb249;
    border-bottom: 1px solid #ddd;
    padding-bottom: .25em;
    margin: 0 0 .5em;
}

.jqm-block-content div.ui-bar {
    line-height:34px;
    padding: 0;
}

.jqm-block-content a.ui-btn-icon-notext.ui-btn-left {
    top: 2px;
    left: 2px;
}

.jqm-block-content a.ui-btn-icon-notext.ui-btn-right {
    top: 2px;
    right: 2px;
}

.jqm-block-content h4.ui-title {
    font-size: 1em;
    font-weight: 200;
    color: #3eb249;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.jqm-block-content p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.4;
    margin: .7em 0;
}

.jqm-block-content table {
    width: 100%;
}

.jqm-block-content td {
    vertical-align: top;
    font-size: 0.8em;
}

.jqm-block-content td.won {
    color: #3eb249;
}

.jqm-block-content td.lost {
    color: #ed3338;
}

.jqm-block-content td:last-child {
    text-align:right;
    padding-right: 0.5em;
}

.jqm-block-content h3 .link {
    font-size: 0.8em;
}

.jqm-block-content p:last-child {
    margin-bottom: 0;
}
.jqm-block-content a:link {
    font-weight: 300;
    text-decoration: none;
}

/* Lists */
.wsrc-site .jqm-list {
    margin: 0 -1em 1em;
}
.wsrc-site .jqm-list .ui-btn,
.wsrc-site .jqm-list .ui-btn:visited,
.wsrc-site .jqm-list .ui-li-divider {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-shadow: none !important;
}
.wsrc-site .jqm-list .ui-btn:hover,
.wsrc-site .jqm-list .ui-btn:active {
    color: #3388cc;
}
.wsrc-site .jqm-list .ui-btn.ui-btn-active {
    color: #fff;
}
.wsrc-site .jqm-list .ui-li-divider {
    color: #ed3338;
}

/* Navmenu */
.jqm-navmenu-panel .ui-listview > li .ui-collapsible-heading {
    margin: 0;
}
.jqm-navmenu-panel .ui-collapsible.ui-li-static {
    padding: 0;
    border: none !important;
}
.jqm-navmenu-panel .ui-collapsible + li > .ui-btn,
.jqm-navmenu-panel .ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn,
.jqm-navmenu-panel .ui-panel-inner > .ui-listview > li.ui-first-child .ui-btn {
    border-top: none !important;
}
.jqm-navmenu-panel .ui-listview .ui-listview .ui-btn {
    padding-left: 1.5em;
    color: #999;
}
.jqm-navmenu-panel .ui-listview .ui-listview .ui-btn.ui-btn-active {
    color: #fff;
}
.jqm-navmenu-panel .ui-btn:after {
    opacity: .4;
    filter: Alpha(Opacity=40);
}

.wsrc-site .jqm-navmenu-panel.jqm-panel-page-nav {
    display: none;
    position: absolute;
    top: 178px;
    left: 12px;
}
.wsrc-site .jqm-navmenu-panel.jqm-panel-page-nav ul li:first-child a{
    border-top: none;
}

table.wsrc-settings th {
    color: #666;
    padding-right:1em;
}

.wsrc-site table.boxes {
    font-family: 'Open Sans', sans-serif;
}

.clear-all {
    clear: both;
}

div.coaching img.left-picture-block {
    float: none;
    padding-bottom: 1em;
}

div.coaching  ul {
    margin-left: 0;
}

div.left-control-box {
    display: inline-block;
    float: left;
}

div.right-control-box {
    display: inline-block;
    float: right;
}

div.right-control-box form > * {
    display: inline;
}


div#boxDetailDialog {
    min-width: 350px;
}

table.boxes th {
    font-weight:bold;
    overflow: hidden;
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    padding-left: 0px;
}

table.boxes td {
    max-width: 6px;
    text-align: center;
    border: #ddd 1px solid; /* Should come from a-bar-border in ui theme */
}

.wsrc-currentuser {
    color: #ed3338;
}

div.boxes {
    max-width:  500px;
    padding: 5px;
}

div.boxes>div.ui-bar {
    padding-bottom: 0;
    padding-top: 0;
}

div.boxes>div.ui-body {
    padding:  .5em .5em;
}

div.boxes-wrapper>div.boxes-firstcolumn {
    width: inherit;
    float: none;
}

div.boxes-wrapper>div.boxes-secondcolumn {
    width: inherit;
    float: none;
}

div.boxes-wrapper {
    margin-left: auto; 
    margin-right: auto; 
}

div.boxes-wrapper-singlecolumn {
    max-width: 500px; 
}

div.boxes-wrapper-doublecolumn {
    max-width: 500px; 
}

fieldset#match-type div.ui-controlgroup-controls {
    width: 100%;
}

fieldset#match-type div.ui-radio {
    width: 50%;
}

fieldset#match-type label {
    text-align: center;
}

/* Custom indentations are needed because the length of custom labels differs from
   the length of the standard labels */
.custom-size-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -3.9em;
}
.custom-size-flipswitch.ui-flipswitch .ui-flipswitch-off {
    text-indent: 0.5em;
}
/* Custom widths are needed because the length of custom labels differs from
   the length of the standard labels */
.custom-size-flipswitch.ui-flipswitch {
    width: 6.875em;
}
.custom-size-flipswitch.ui-flipswitch.ui-flipswitch-active {
    padding-left: 5em;
    width: 1.875em;
}

/* leagues */

.winner {
    font-weight: bold;
}

div#league-results-div div.date {
    float: right;
}

table.score_entry {
    padding-top: 5px;
    text-align:center;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

table.score_entry th {
    padding:0 10px 5px 0px;
}

table.score_entry div.ui-input-text {
    padding:0px 2px;
    margin:0;
}

table.score_entry input {
    text-align: center;
}

td.score_row_label {
    padding-right: 5px;
}

td.score_total {
    font-weight: bold;
}

/* tournaments */
div.tournament-wrapper {
  overflow-x: auto;
}

table.bracket {
  font-size: 90%; 
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

tbody.bracket {
  padding: 0px;
}

table.bracket td {
  margin: 0px;
}

th.leftspacer {
  width: 6px;
}

th.rightspacer {
  width: 5px;
}

td.verticalspacer {
	height: 7px;
}

td.toplink {
  border-style: solid; 
  border-color: black; 
  border-width: 0 0 2px 0;
}

td.bottomlink {
  border-style: solid; 
  border-color: black; 
  border-width: 2px 0 0 0;
}

td.stretchlink {
  border-style: solid; 
  border-color: black; 
  border-width: 2px 2px 2px 0;
}

td.seed {
  text-align: center;
  border: 1px solid #aaa;
  background-color: #F8F8F8;
  padding: 2px 2px 2px 2px;
  white-space: nowrap;
}

td.score {
  text-align: center;
  border: 1px solid #aaa;
  border-left: 0px;
  background-color: #F8F8F8;
  padding: 2px 2px 2px 2px;
}

td.player {
  border: 1px solid #aaa;
  border-left: 0px;
  padding: 2px 6px 2px 4px;
  white-space: nowrap;
  max-width: 150px;
  min-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
}

td.wsrc-highlight {
 background-color: #dadada;
}

td.bye {
  border: 1px solid #eee;	
}

td.winningscore, td.winner {
  font-weight: bold; 
}

/* add support for individual corner radii */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: .3125em /*{global-radii-blocks}*/;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: .3125em /*{global-radii-blocks}*/;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: .3125em /*{global-radii-blocks}*/;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: .3125em /*{global-radii-blocks}*/;
}

{% if not ie_mode %}
/* larger than a small phone screen in portrait mode 
   - switch to front page square boxes with scrolling */
@media (min-width: 35em) {
{% endif %}
    .jqm-block-content > div{
	min-height: 16em;
	max-height: 16em;
        overflow: auto;
    }

    .jqm-block-content > div.headed-box{
        overflow: inherit;
    }
    .jqm-block-content > div.headed-box > div.ui-body{
        overflow: auto;
	min-height: 13em;
	max-height: 13em;
    }

{% if not ie_mode %}
}
{% endif %}

{% if not ie_mode %}
/* larger than a small tablet in portrait mode - switch to larger
   header, remove hamburger icon and bring in side menu */
@media (min-width: 60em) {
{% endif %}
    .wsrc-site .jqm-header h2 {
	padding: 1em 0 .7em;
	margin: 0 1em 0 3%;
	text-align: left;
    }
    .wsrc-site .jqm-header h2 img {
	width: 222px;
	height: 78px;
    }
    .wsrc-site .jqm-header p {
	bottom: auto;
	left: auto;
	top: 50%;
	right: 15%;
	font-size: 1.2em;
	margin-top: -.625em;
    }
    .wsrc-site .jqm-navmenu-link {
	display: none;
    }
    .wsrc-site .jqm-footer p {
	float: right;
	margin: 1.5em 3% 1.5em 1.5em;
    }
    .wsrc-site .jqm-footer p:first-child {
	float: left;
	margin: 1.25em 1.25em 1.25em 3%;
    }
    .wsrc-site .jqm-navmenu-panel {
	visibility: visible;
	position: relative;
	left: 0;
	clip: initial;
	float: left;
	width: 20%;
	background: none;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	transition: none !important;
	-webkit-transform: none !important;
	-moz-transform: none !important;
	transform: none !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
    }
    .wsrc-site.jqm-panel-page .jqm-navmenu-panel {
	display: none;
    }
    html .wsrc-site.jqm-panel-page .jqm-navmenu-panel.jqm-panel-page-nav {
	display: block;
    }
    .wsrc-site .jqm-navmenu-panel .ui-panel-inner {
	margin-top: 3em;
	margin-bottom: 3em;
    }
    .wsrc-site .jqm-content {
	width: 74%;
	padding-top: 2em;
	padding-left: 3%;
	padding-right: 3%;
	float: right;
    }
    .wsrc-site .jqm-content.jqm-fullwidth {
	width: auto;
	padding-left: 15%;
	padding-right: 15%;
	float: none;
    }
    .jqm-navmenu-panel .ui-listview .ui-btn {
	padding-left: 12.5%;
    }
    .jqm-navmenu-panel .ui-listview .ui-listview .ui-btn {
	padding-left: 15%;
    }
    .jqm-navmenu-panel .ui-collapsible,
    .jqm-navmenu-panel .ui-collapsible-content,
    .jqm-navmenu-panel .ui-btn {
	background: none !important;
	border-color: #ddd !important;
    }
    .jqm-navmenu-panel .ui-btn.ui-btn-active {
	color: #3388cc !important;
    }
    .jqm-navmenu-panel .ui-btn::after {
	opacity: 0;
	-webkit-transition: opacity 500ms ease;
	-moz-transition: opacity 500ms ease;
	transition: opacity 500ms ease;
    }
    .jqm-navmenu-panel .ui-btn:hover::after {
	opacity: .4;
    }
    .ui-panel-dismiss-open.ui-panel-dismiss-position-right {
	left: -17em;
	right: 17em;
    }
{% if not ie_mode %}
}
{% endif %}


{% if not ie_mode %}
@media (min-width: 500px) {
{% endif %}
div.coaching img.left-picture-block {
    float: left;
}

div.coaching ul {
    margin-left: 210px;
    padding-bottom: 0;
}
{% if not ie_mode %}
}
{% endif %}


{% if not ie_mode %}
@media ( min-width: 1000px ) {
{% endif %}
    body {
        font-size: 1em;
    }

    .ui-content {
        padding-left: 1em;
        padding-right: 1em;
    }

    div.boxes-wrapper-doublecolumn {
        max-width: 1000px; 
    }

    div.boxes-wrapper>div.boxes-firstcolumn,
    div.boxes-wrapper>div.boxes-secondcolumn {
        width: 50%
    } 

    div.boxes-wrapper>div.boxes-firstcolumn {
        float: left;
    } 

    div.boxes-wrapper>div.boxes-secondcolumn {
        float: right;
    } 
{% if not ie_mode %}
}
{% endif %}

{% if not ie_mode %}
@media ( min-width: 1200px ) {
{% endif %}
.jqm-block-content td {
    font-size: 0.9em;
}
{% if not ie_mode %}
}
{% endif %}
