/* -*- mode: css;-*- */

@breakpoint-jqm-ui-field: 28em;
@breakpoint-widen-frontpage: 35em;
@breakpoint-show-navmenu: 60em;

@color-loser: #ed3338;
@color-winner: #3eb249;
@color-block-border: #eee;
@color-header-border-bottom: #ddd;
@color-body-background: #ffffff;
@color-body: #333;
@color-yellow-dot: #fccb30;
@color-a-bar-border: #333;
@color-a-bar-background: #6e6e6e;
@color-a-bar: #ffffff;

@max-page-width: 1200px;

html, body {
    height: 100%;
}


/* Small screen default font size is 14px */
body {
    font-size: 1em;
    margin: 0;
    padding: 0;
    background-color: @color-body-background;
}

.ui-btn,
.ui-mobile label,
div.ui-controlgroup-label {
    font-size: 0.9em;
}
.clear-all {
    clear: both;
}
.error-handler-message {
    margin: 3em 1em 3em 1em;
    font-size: 1.1em;
}
.nobreak {
    white-space: nowrap;
}
.mobile-hidden, .small-mobile-hidden {
    display: none;
}
@ruleset-small: {
    .small-mobile-hidden {
        display: inline;
    }
};
@ruleset-large: {
    .mobile-hidden {
        display: inherit;
    }
};
.media-guard(@ruleset-small, @breakpoint-widen-frontpage); 
.media-guard(@ruleset-large, @breakpoint-show-navmenu); 

.toggled {
    display: none;
}

/* add support for individual corner radii */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: .3125em /*{global-radii-blocks}*/;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: .3125em /*{global-radii-blocks}*/;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: .3125em /*{global-radii-blocks}*/;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: .3125em /*{global-radii-blocks}*/;
}

#page_wrapper .wsrc-site {
    position: relative;
}

div.centered-content-wrapper {
    position: relative;
    max-width: @max-page-width;
    margin-left: auto;
    margin-right: auto;
}


/******************************************************************************** 
  Header - note some of these rules are overriden for larger screens
********************************************************************************/

@small-header-height: 62px;
@large-header-height: 110px;
@footer-height: 40px;

#body_header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: @large-header-height;
    background-color: black;
}

.wsrc-site .jqm-header {
    background: black;
    height: @small-header-height;
    background-color: black;
    border-width: 0;
    @ruleset-largescreen: {
        height: @large-header-height;
    };
    .media-guard(@ruleset-largescreen, @breakpoint-show-navmenu);
    .topicon {
        padding: 0;
        margin-top: 20px;
        @ruleset-largescreen: {
            margin-top: 40px;
        };
        .media-guard(@ruleset-largescreen, @breakpoint-show-navmenu);
        a {
            text-decoration: none;
            color: @color-a-bar;
            font-size: 0.6em;
            display:block;
        }
    }
    @topicons-sidemargin: 0.8em;
    .centered-icon {
        width: 14px;
        margin-left: auto;
        margin-right: auto;
    }
    div.menu-link {
        float: left;
        margin-left: @topicons-sidemargin;
        @ruleset-largescreen: {
            display: none;
        };
        .media-guard(@ruleset-largescreen, @breakpoint-show-navmenu);
    }
    div.login-link {
        float: right;
        margin-right: @topicons-sidemargin;
    }    
    h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0;
        &.small-top-logo {
            width: 98px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            img {
                padding-top: 6px;
            }
        }
        &.large-top-logo {
            display: none;
            margin-left: @topicons-sidemargin;
            img {
                padding-top: 20px;
            }
        }
        a {
            text-decoration: none;
        }
        @ruleset-largescreen: {
            &.small-top-logo {
                display: none;
            }
            &.large-top-logo {
                display: inline;
            }
        };
        .media-guard(@ruleset-largescreen, @breakpoint-show-navmenu);
    };
    p {
        position: absolute;
        bottom: -2em;
        margin: 0 1em;
        color: black;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        text-shadow: none;
        @ruleset-largescreen: {
	    bottom: auto;
	    left: auto;
	    top: 50%;
	    right: 15%;
	    font-size: 1.2em;
/*	    margin-top: -.625em; */
            color: @color-a-bar;
        };
        .media-guard(@ruleset-largescreen, @breakpoint-show-navmenu);
    }
}

/******************************************************************************** 
   Footer 
********************************************************************************/

.wsrc-site {
    padding-bottom: @footer-height;
}

.jqm-footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 0;
    height: @footer-height;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-shadow: none;
    color: @color-a-bar;
    background-color: black;
    div {
        position: relative;
        margin-top: 10px;
        padding-left: 0.5em;
        padding-right: 0.5em;
        &.last_updated {
            float: right;
            font-size: 0.8em;
            margin-top: 4px;
            color: @color-yellow-dot;
        }
    }
}


/******************************************************************************** 
  Content
********************************************************************************/

/* Square off icon buttons: */
.ui-btn-icon-notext.ui-corner-all {
	-webkit-border-radius: .3125em; /* 1em; */
	border-radius: .3125em; /* 1em; */
}

.wsrc-site .jqm-content {
    padding-top: 3em;
    padding-bottom: 40px;
}
.wsrc-site .jqm-content h1,
.wsrc-site .jqm-content h2,
.wsrc-site .jqm-content h3,
.wsrc-site .jqm-content p,
.wsrc-site .jqm-content ul li,
.wsrc-site .jqm-content > a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.wsrc-site .jqm-content h1 {
    font-size: 2.4em;
    margin: 0 0 .625em;
}
.wsrc-site .jqm-content > div > h2 {
    background-color: transparent;
    border-bottom: 1px solid @color-header-border-bottom;
    font-size: 1.6em;
    padding-bottom: .2em;
    margin: 0 0 .7375em;
}
.wsrc-site .jqm-content h3 {
    background-color: transparent;
    font-size: 1.4em;
    margin: 0 0 0.5em;
}
.wsrc-site .jqm-content p {
    font-size: 1em;
    line-height: 1.5;
}
.wsrc-site .jqm-content > ul:not(.jqm-list) li {
    font-size: 1em;
    line-height: 1.5;
}
.wsrc-site .jqm-content p {
    margin: 0 0 1.25em;
}
.wsrc-site .jqm-content ul,
.wsrc-site .jqm-content ol {
    padding-left: 1.3em;
}
.wsrc-site .jqm-content .ui-listview {
    padding-left: 0;
}
.wsrc-site .jqm-content a,
.wsrc-site .jqm-content p a,
.wsrc-site .jqm-content ul:not(.jqm-list) li a {
    font-weight: 400;
    text-decoration: none;
}
.wsrc-site .jqm-content strong {
    font-weight: 700;
}
.wsrc-site .jqm-content p strong {
    font-weight: 400;
}


/******************************************************************************** 
  Blocks
********************************************************************************/

/*
  .wsrc-home .ui-grid-a {
  margin: 2.5em -.5em -.5em;
  }
  */

.jqm-block-content {
    margin: .5em;
    padding: 1em;
    background: @color-body-background;
    border: 1px solid @color-block-border;
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
    font-family: 'Open Sans', sans-serif;
}
.jqm-block-content h3 {
    font-size: 1.5em;
    font-weight: 300;
    border-bottom: 1px solid @color-header-border-bottom;
    padding-bottom: .25em;
    margin: 0 0 .5em;
}
.jqm-block-content div.ui-bar {
    line-height:34px;
    padding: 0;
}
.jqm-block-content a.ui-btn-icon-notext.ui-btn-left {
    top: 2px;
    left: 2px;
}
.jqm-block-content a.ui-btn-icon-notext.ui-btn-right {
    top: 2px;
    right: 2px;
}
.jqm-block-content h4.ui-title {
    font-size: 1em;
    font-weight: 200;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}
.jqm-block-content div.footnote {
    height: 1em;
    padding-top: 0.5em;
    text-align:right;
    font-size: 0.8em;
}
.jqm-block-content table {
    width: 100%;
}
.jqm-block-content td {
    vertical-align: top;
    font-size: 0.8em;
}
.jqm-block-content td.won {
    color: @color-winner;
}
.jqm-block-content td.lost {
    color: @color-loser;
}
.jqm-block-content td:last-child {
    text-align:right;
    padding-right: 0.5em;
}
#facebook_news td:last-child {
    text-align:left;
    padding-left: 0.5em;
}
.jqm-block-content a:link {
    font-weight: 300;
    text-decoration: none;
}

/******************************************************************************** 
  Side Navigation Menu
********************************************************************************/

.wsrc-site .jqm-list {
    margin: 0 -1em 1em;
}
.wsrc-site .jqm-list .ui-btn,
.wsrc-site .jqm-list .ui-btn:visited,
.wsrc-site .jqm-list .ui-li-divider {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-shadow: none !important;
}
.wsrc-site .jqm-list .ui-btn:hover,
.wsrc-site .jqm-list .ui-btn:active {
    color: @color-yellow-dot;
}
.wsrc-site .jqm-list .ui-btn.ui-btn-active {
    color: #fff;
}
.wsrc-site .jqm-list .ui-li-divider {
    color: #ed3338;
}
.jqm-navmenu-panel {
	position: fixed;
}
.jqm-navmenu-panel .ui-listview > li .ui-collapsible-heading {
    margin: 0;
}
.jqm-navmenu-panel .ui-collapsible.ui-li-static {
    padding: 0;
    border: none !important;
}
.jqm-navmenu-panel .ui-collapsible + li > .ui-btn,
.jqm-navmenu-panel .ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn,
.jqm-navmenu-panel .ui-panel-inner > .ui-listview > li.ui-first-child .ui-btn {
    border-top: none !important;
}
.jqm-navmenu-panel .ui-listview .ui-listview .ui-btn {
    padding-left: 1.5em;
    color: #666;
}
.jqm-navmenu-panel .ui-listview .ui-listview .ui-listview .ui-btn {
    padding-left: 2em;
    color: #999;
}
.jqm-navmenu-panel .ui-listview .ui-listview .ui-btn.ui-btn-active {
    color: #fff;
}
.jqm-navmenu-panel .ui-btn:after {
    opacity: .4;
    filter: Alpha(Opacity=40);
}
.wsrc-site .jqm-navmenu-panel.jqm-panel-page-nav {
    display: none;
    position: absolute;
    top: 178px;
    left: 12px;
}
.wsrc-site .jqm-navmenu-panel.jqm-panel-page-nav ul li:first-child a{
    border-top: none;
}

/******************************************************************************** 
  Page specifics
********************************************************************************/

/* data tables */
div.wsrc-membership {
    margin: .5em;
    padding: 1em;
    background: @color-body-background;
    border: 1px solid @color-block-border;
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
    font-family: 'Open Sans', sans-serif;
}
div.wsrc-membership {
    margin: .5em;
}
.wsrc-membership table {
    width: 100%;
}

.wsrc-member-list th, .wsrc-member-list td,
.wsrc-membership th, .wsrc-membership td {
    text-align: left;
    vertical-align: top;
    padding-right: 1em;
    color: @color-body;
}
.wsrc-membership th, .wsrc-membership td {
    border-bottom: 1px solid;
}
.wsrc-member-list th:last-child, .wsrc-member-list td:last-child {
    border-bottom: 1px solid;
}
tr.odd > td {
    background-color: #f9f9f9;
}

/* admin dialogs */
form.settings-form {
    max-width: 40em;
}
form.settings-form fieldset > legend {
    color: @color-yellow-dot;
    padding-top: 20px;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    font-weight: bold;
}
form.settings-form fieldset div.ui-field-contain {
    border-bottom-width:0px;
}
.ui-field-contain span.label::after {
    content: "";
    display: block;
}    

div.field-error input {
    -webkit-box-shadow: 0px 0px 2px 2px #ed3338;
    -moz-box-shadow: 0px 0px 2px 2px #ed3338;
    box-shadow: 0px 0px 2px 2px #ed3338;
}
span.field-error {
    color: #ed3338;
    font-size: 0.8em;
}
.form_success_message {
    color: @color-winner;
}
.form_error_message {
    color: @color-loser
}
.form_error_message:after {
    left: inherit;
    top: inherit;
    margin-top: -20px;
}
.settings-form .ui-select .ui-btn.ui-state-disabled,
.settings-form .ui-state-disabled {
    opacity: 0.6;
}
.wsrc-disabled {
    opacity: 0.3;
}

/* leagues */
.wsrc-site table.boxes {
    font-family: 'Open Sans', sans-serif;
}

.wsrc-site .boxes h2.ui-title {
    font-weight: 500;
}

div.left-control-box {
    display: inline-block;
    float: left;
}
div.right-control-box {
    display: inline-block;
    float: right;
}
.right-control-box fieldset {
    display: inline; 
}
div.right-control-box form > * {
    display: inline;
}
div#boxDetailDialog {
    min-width: 350px;
}
div.boxes {
    a.ui-link {
        text-decoration: none;
        color: @color-body;
    }
    .box-header.ui-header {
        border-width: 1px 1px 0 1px;
        border-color: @color-a-bar-border;
    }
}

table.boxes {
    font-size: 0.95em;
    font-color: @color-body;
}

table.boxes th {
    font-weight:300;
    color: #000;
    overflow: hidden;
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    padding-left: 0px;
}
table.boxes td {
    max-width: 6px;
    text-align: center;
    border: @color-a-bar-border  1px solid; /* Should come from a-bar-border in ui theme */
}
table.boxes td.points {
    background: @color-body-background;
}
div.boxes {
    max-width:  500px;
    padding: 5px;
}
div.boxes>div.ui-bar {
    padding-bottom: 0;
    padding-top: 0;
}
div.boxes>div.ui-body {
    padding:  .5em .5em;
/*    background-color: #f9f9f9; */
}
div.boxes-wrapper>div.boxes-firstcolumn {
    width: inherit;
    float: none;
}
div.boxes-wrapper>div.boxes-secondcolumn {
    width: inherit;
    float: none;
}
div.boxes-wrapper {
    margin-left: auto; 
    margin-right: auto; 
}
div.boxes-wrapper-singlecolumn {
    max-width: 500px; 
}
div.boxes-wrapper-doublecolumn {
    max-width: 500px; 
}
th.wsrc-currentuser,
th.wsrc-currentuser > a.ui-link {
    color: #ed3338;
}
.winner {
    font-weight: bold;
}
div#league-results-div div.date {
    float: right;
}
/* tournaments */
div.competition-wrapper {
    padding: 1em 0;
    background: @color-body-background;
    overflow-x: auto;
    font-family: 'Open Sans', sans-serif;
}
table.bracket {
  font-size: 90%; 
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
tbody.bracket {
  padding: 0px;
}
table.bracket td {
  margin: 0px;
}
th.leftspacer {
  width: 6px;
}
th.rightspacer {
  width: 5px;
}
td.verticalspacer {
	height: 7px;
}
td.toplink {
  border-style: solid; 
  border-color: #aaa;
  border-width: 0 0 2px 0;
}
td.bottomlink {
  border-style: solid; 
  border-color: #aaa; 
  border-width: 2px 0 0 0;
}
td.stretchlink {
  border-style: solid; 
  border-color: #aaa; 
  border-width: 2px 2px 2px 0;
}
td.seed {
  text-align: center;
  border: 1px solid #aaa;
  background-color: #F8F8F8;
  padding: 2px 2px 2px 2px;
  white-space: nowrap;
}
td.score {
  text-align: center;
  border: 1px solid #aaa;
  border-left: 0px;
  background-color: #F8F8F8;
  padding: 2px 2px 2px 2px;
}
td.player {
  border: 1px solid #aaa;
  border-left: 0px;
  padding: 2px 6px 2px 4px;
  white-space: nowrap;
  max-width: 150px;
  min-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
}
td.wsrc-highlight {
 background-color: #dadada;
}
td.empty-match {
  opacity: 0.3;	
}
td.partial-match {
  opacity: 0.6;	
}
td.winningscore, td.winner {
  font-weight: bold; 
}
/* score entry dialog */
table.score-entry {
    padding-top: 5px;
    text-align:center;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}
table.score-entry th {
    padding:0 10px 5px 0px;
}
table.score-entry div.ui-input-text {
    padding:0px 2px;
    margin:0;
}
table.score-entry input {
    text-align: center;
}
td.score-row-label {
    padding-right: 5px;
}
td.score-total {
    font-weight: bold;
}

fieldset.match-type div.ui-controlgroup-controls {
    width: 100%;
}
fieldset.match-type div.ui-radio {
    width: 50%;
}
fieldset.match-type label.centered-text {
    text-align: center;
}

/* misc */
div.coaching img.left-picture-block {
    float: none;
    padding-bottom: 1em;
}
div.coaching  ul {
    margin-left: 0;
}
.wsrc-footnote {
    font-size: 0.7em;
}

td.wsrc-highlight {
 background-color: #dadada;
}

/* Committee page */
div.thumbnail-container {
    margin-bottom: 2em;
    font-family: 'Open Sans', sans-serif;
}
div.thumbnail-container h4 {
    margin-top: 0;
}

div.thumbnail-container div.thumbnail {
        float: left; 
        width: 18%; 
        max-width: 116px; 
        min-width: 116px;
}
div.thumbnail-container div.copy {
        float: left;
        width: 100%;
}
div.thumbnail-container:after {
        content:'';
        display:block;
        clear: both;
}

@media (min-width: 40em) {
div.thumbnail-container div.copy {
        float: right;
        width: 80%;
}
}

/******************************************************************************** 
  Larger Screen Media Conditionals
********************************************************************************/

.media-guard(@ruleset; @min-width) {
    & when (@iemode) {
        @ruleset();
    }
    & when not (@iemode) {
        @media (min-width: @min-width) {
            @ruleset();
        }
    }
}

/* Display coaching bullet points next to picture if large enough screen */
.media-guard(@coaching-ruleset, 500px);
@coaching-ruleset: {
div.coaching img.left-picture-block {
    float: left;
}
div.coaching ul {
    margin-left: 210px;
    padding-bottom: 0;
}
};

.media-guard(@jqm-ui-field-ruleset, @breakpoint-jqm-ui-field);
@jqm-ui-field-ruleset: {
    .ui-field-contain span.label {
	float: left;
	font-size: 0.9em;
	margin: .5em 2% 0 0;
    }    
    .ui-field-contain span.label::after {
	display: none;
    }    
};

/* larger than a small phone screen in portrait mode 
   - switch to front page square boxes with scrolling */
.media-guard(@widen-frontpage-ruleset, @breakpoint-widen-frontpage);
@widen-frontpage-ruleset: {
    .jqm-block-content > div.restricted{
	min-height: 16em;
	max-height: 16em;
        overflow: auto;
    }
    .jqm-block-content > div.restricted-with-footnote{
	min-height: 14.5em;
	max-height: 14.5em;
        overflow: auto;
    }
    .jqm-block-content > div.headed-box{
        overflow: inherit;
    }
    .jqm-block-content > div.headed-box > div.ui-body{
        overflow: auto;
	min-height: 11em;
	max-height: 11em;
        padding-left: 0;
        padding-right: 0;
    }
};

/* reflow table when larger than about 640px */
.media-guard(@membership-table-ruleset, 40em); 
@membership-table-ruleset: {
	table.wsrc-member-list {
            padding-top: 0em;
        }
	/* Show the table header rows and set all cells to display: table-cell */
	.wsrc-member-list td,
	.wsrc-member-list th,
	.wsrc-member-list tbody th,
	.wsrc-member-list tbody td,
	.wsrc-member-list thead td,
	.wsrc-member-list thead th {
		display: table-cell;
		margin: 0;
	}
	/* Hide the labels in each cell */
	.wsrc-member-list td .ui-table-cell-label,
	.wsrc-member-list th .ui-table-cell-label {
		display: none;
	}
        .wsrc-member-list th, .wsrc-member-list td {
            border-bottom: 1px solid;
        }
};

/* larger than a small tablet in portrait mode - switch to larger
   header, remove hamburger icon and bring in side menu */
.media-guard (@tablet-landscape-ruleset, @breakpoint-show-navmenu); /* about 960 px */
@tablet-landscape-ruleset: {
    .mobile-hidden {
        display: inherit;
    }
    .wsrc-site .jqm-navmenu-panel {
	visibility: visible;
	position: relative;
	left: 0;
	clip: initial;
	float: left;
	width: 20%;
	background: none;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	transition: none !important;
	-webkit-transform: none !important;
	-moz-transform: none !important;
	transform: none !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
    }
    .wsrc-site.jqm-panel-page .jqm-navmenu-panel {
	display: none;
    }
    html .wsrc-site.jqm-panel-page .jqm-navmenu-panel.jqm-panel-page-nav {
	display: block;
    }
    .wsrc-site .jqm-navmenu-panel .ui-panel-inner {
	margin: 0;
        padding: 0 1em 0 0.8em ;
    }
    .wsrc-site .jqm-content {
	width: 100%;
	padding-top: 2em;
	padding-left: 0;
	padding-right: 0;
    }
    .wsrc-site .nonmenu-content {
        width: 77%;
        float: right;
        padding-right:0.8em;
    }
    .wsrc-site .jqm-content 
    .wsrc-site .jqm-content.jqm-fullwidth {
	width: auto;
	padding-left: 15%;
	padding-right: 15%;
	float: none;
    }
    .jqm-navmenu-panel .ui-listview .ui-btn {
	padding-left: 12.5%;
    }
    .jqm-navmenu-panel .ui-listview .ui-listview .ui-btn {
	padding-left: 15%;
    }
    .jqm-navmenu-panel .ui-listview .ui-listview .ui-listview .ui-btn {
        padding-left: 17.5%;
    }

    .jqm-navmenu-panel .ui-collapsible,
    .jqm-navmenu-panel .ui-collapsible-content,
    .jqm-navmenu-panel .ui-btn {
	background: none !important;
	border-color: #ddd !important;
    }
    .jqm-navmenu-panel .ui-btn.ui-btn-active {
	color: #3388cc !important;
    }
    .jqm-navmenu-panel .ui-btn::after {
	opacity: 0;
	-webkit-transition: opacity 500ms ease;
	-moz-transition: opacity 500ms ease;
	transition: opacity 500ms ease;
    }
    .jqm-navmenu-panel .ui-btn:hover::after {
	opacity: .4;
    }
    .ui-panel-dismiss-open.ui-panel-dismiss-position-right {
	left: -17em;
	right: 17em;
    }
};



.media-guard (@desktop-ruleset, 70em);
@desktop-ruleset: {
    .jqm-block-content td {
        font-size: 0.9em;
    }
    .ui-content {
        padding-left: 1em;
        padding-right: 1em;
    }

    div.boxes-wrapper-doublecolumn {
        max-width: 1000px; 
    }

    div.boxes-wrapper>div.boxes-firstcolumn,
    div.boxes-wrapper>div.boxes-secondcolumn {
        width: 50%
    } 

    div.boxes-wrapper>div.boxes-firstcolumn {
        float: left;
    } 

    div.boxes-wrapper>div.boxes-secondcolumn {
        float: right;
    } 
};

