/* -*- mode: css;-*- */

@color-alt-row: #eee;
@color-ignore-row: #ee0;

html, body{
  margin:0;
  padding:0;
  height:100%;
}
* {
    margin: 0;
}
body {
  font-size: 0.8em;
}

fieldset {
    padding: 0 1em 0.5em 1em;
    margin-bottom: 1em;
}

.errorfield {
    color: red;
}

#tabs.ui-widget-content {
    border: 0;
}

.ui-field-contain {
    padding: 0;
    margin: 0.5em 0;
    border-bottom-width: 0;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        xxxclear: both;
    }
    & > label {
        float: left;
        width: 7em;
        margin: .5em 1em 0 0;
        text-align: right;
    }
    & > input, & > select  {
        width: 10em;
    }
    & > select {
        height: 2em;
        margin-left: 2px;
    }
    & > input[type='file'] {
        width: 20em;
    }
    & > input[type='submit'] {
        width: 3em;
    }
    & > .radio-buttonset > label  {
        width: 5em;
        .ui-button-text {
            padding: 0.4em 0;
        }
    }
}

.datepicker-range .datepicker {
    width: 6em;
}

#swing-transaction-dialog .ui-field-contain {
    label {
        width: 5em;
    }
    input, select {
        width: 20em;
    }
}

.information-set {
    float: right;
    width: 30em;
    .ui-field-contain > label {
        width: 10em;
    }
}

.information-table {
    float: right;
    min-width: 60%;
    height: 11em;
    overflow-y: auto;
    border: 1px solid #333;
    .count, .incoming, .outgoing, .net_total {
        text-align: right;
    }
    table {
        padding: 0 0.5em;
    }
}

.toggled {
    display: none !important;
}

div#tabs {
    height: calc(100% - 0.4em - 2px);
}

div.fixed-height-wrapper {
    max-height: calc(100% - 2.8em - 2em);
}

.container {
    overflow-y: auto;
    height: calc(100% - 200px);
    margin: 0 auto;
}

table {
    width: 100%;
    tr {
        line-height: 1.8em;
    }
    tr.alt td {
        background-color: @color-alt-row;
    }
    tr.ignored td {
        background-color: @color-ignore-row;
    }
    th {
        text-align: left;
        padding: 0 2em 0.5em 0 ;
        border-bottom: #333 1px solid;
    }
    tfoot td {
        padding-top: 0.5em;
        border-top: #333 1px solid;
    }
    td {
        text-align: left;
        padding: 0 0.5em 0 0;
    }
    td.debit {
        color: red;
    }
    td.credit {
        color: darkgreen;
    }
    td.amount, td.balance, td.bank_code, td.bank_number,
    th.button, td.button{
        text-align: right;
        padding-left: 0.5em;
        padding-right: 0;
    }
    td.percent {
        text-align: right;
        padding-left: 0;
        padding-right: 0;
        color: #555;
        font-size: 0.9em;
        font-style: oblique;
    }
    &.transactions {
        margin-top: 1em;
        height: 100%;
        overflow-y: scroll;
        & input {
            width: 99%;
        }
    }
    &.categories {
        td button {
            height: 1.5em;
            width: 2.5em;
        }
        input {
            width: 100%;
        }
        .order {
            width: 3em;
            max-width: 3em;
        }
        .name {
            width: 10em;
            max-width: 10em;
        }
        .desc {
            width: 15em;
            max-width: 15em;
        }
    }
}

div.button-bar {
    padding-bottom: 1em;
    & > div, & > input {
        display: inline-block;
    }
    float: right;
    &:after {
        clear: both;
    }
}

#chart_pnl_tab {
    .chart_div {
      width: 800px;
      height: 500px;
      padding-bottom: 1em;
    }
}