{% load competitions_extras %}
<table data-role="table" data-mode="" data-name="{{ box_config.name }}" data-id="{{ box_config.id }}" class="boxes ui-corner-all ui-table boxtable">
  <thead>
    <tr>
      <th colspan="2"></th>
{% for i in competition.maxplayers|as_range %}<td class="ui-bar-b">{{ i|add:"1" }}</td>{% endfor %}
      <td class="ui-bar-b">Σ</td>
    </tr>
  </thead>
  <tbody>
{% for i in competition.maxplayers|as_range %}
{% resolve box_config.entrants i as entrant %}
    <tr data-id="{{ entrant.id }}">
      <th {% if user.is_authenticated and user.player.id == entrant.player1__id %}class="wsrc-currentuser"{% endif %}>{% if user.is_authenticated %}<a href="{% url 'member_list' %}?filter-ids={{ entrant.player1__id }}">{% endif %}{{ entrant.player1__user__first_name }} {{ entrant.player1__user__last_name }}{% if entrant.handicap != None %} ({{ entrant.handicap }}){% endif %}{% if user.is_authenticated %}</a>{% endif %}</th>
      <td class="ui-bar-b">{{ i|add:"1" }}</td>
{% for j in competition.maxplayers|as_range %}
      <td class="{% if i == j %}ui-bar-b{% else %}points{% endif %}"> </td>
{% endfor %}
      <td class="points score_total"> </td>
    </tr>
{% endfor %}
  </tbody>
</table>
