<!DOCTYPE html>

{% load competitions_extras %}

<html>
<head>

  <link rel="stylesheet" href="/static/css/all_admin_boxes.css">
  <script src="/static/js/all_admin_boxes.js"></script>

{% load kwacros %}
{% loadkwacros 'form_macros.html' %}

  <title>Boxes Admin - Woking Squash Rackets Club</title>

  <script type="text/javascript">
var players  = { {% for p in players %}{% if forloop.counter0 > 0 %},{% endif %}{{ p.id }}: {id: {{ p.id }}, full_name: "{{ p.user__first_name }} {{ p.user__last_name }}"}{% endfor %} };
var initial_competition_group = {{ box_data|safe }};
var competition_groups = {{ competition_groups|safe }};
jQuery(document).ready(function(){wsrc.admin.boxes.onReady(players, competition_groups, initial_competition_group)});
  </script>

</head>
<body>
  <div class="column-wrapper ui-widget">
  <div class="hrow">
    <form class="column" id="source_boxes" method="GET" action="#" onsubmit="return false;">{% csrf_token %}
    <fieldset class="ui-corner-all">
      <legend>Old League</legend>
      <div class="top-form-field-container">
        <div class="ui-field-contain">
          <label for="old_league_end_date">League:</label>
          <select name="league" id="old_league_end_date">
            <option value="">Please Select...</option>
          </select>
        </div>
        <div class="ui-field-contain">
          <label>Display:</label>
          <input type="radio" name="view_type" id="view_type_boxes" value="boxes"/>Boxes
          <input type="radio" name="view_type" id="view_type_tables" value="tables"  checked="checked" />Tables
        </div>
      </div>
{% for box_config in new_boxes %}
{% if box_config.colspec == "double" and box_config.nthcol == "first" %}
      <div class="hrow">
{% endif %}
      <div class="{% if box_config.colspec == 'single' %}single-table{% else %}column twin-table{% endif %} table-wrapper">
        <table class="ui-helper-hidden boxtable" >
          <caption class="ui-widget-header">{{ box_config.name }}<button class="small auto">Auto-Populate</button></caption>
          <thead class="ui-widget-content">
            <tr>
              <th></th><th></th>
{% for i in competition.maxplayers|as_range %}<th class="ui-bar-a block">{{ i|add:"1" }}</th>{% endfor %}
              <th class="ui-bar-a block">Σ</th>
            </tr>
          </thead>
          <tbody class="ui-widget-content"></tbody>
        </table>
        <table class="leaguetable" >
          <caption class="ui-widget-header">{{ box_config.name }}<button class="small auto">Auto-Populate</button></caption>
          <thead class="ui-widget-content">
            <tr>
              <th class="text"></th>
              <th class="ui-bar-a block">P</th>
              <th class="ui-bar-a block">W</th>
              <th class="ui-bar-a block">D</th>
              <th class="ui-bar-a block">L</th>
              <th class="ui-bar-a block">F</th>
              <th class="ui-bar-a block">A</th>
              <th class="ui-bar-a block" style="max-width: 1.5em;">Pts</th>
            </tr>
          </thead>
          <tbody class="ui-widget-content"></tbody>
        </table>
      </div>
{% if box_config.colspec == "double" and box_config.nthcol == "second" %}
      </div>
{% endif %}
{% endfor %}
    </fieldset>
    </form>
    <form class="column" id="target_boxes" method="GET" action="#" onsubmit="return false;">  
    <fieldset class="ui-corner-all">
      <legend>New League</legend>
      <div class="top-form-field-container">
        <div class="ui-field-contain">
          <label for="target_league_end_date">End Date:</label>
          <input name="end_date" id="target_league_end_date">
          <button type="button" name="save" value="save">Save</button>
          <button type="button" name="preview" value="preview">Preview</button>
        </div>
        <div class="ui-field-contain">
          <label for="target_league_actions">Action:</label>
          <select name="action" id="target_league_actions">
            <option value="" selected="selected">----------</option>
            <option value="auto_populate">Auto-Populate All</option>
            <option value="clear">Clear All</option>
            <optgroup label="Permanent Changes:">
              <option value="make_live">Start New League</option>
            </optgroup>
          </select>
          <button type="button" name="go" value="go">Go</button>
        </div>
      </div>
{% for box_config in new_boxes %}
{% if box_config.colspec == "double" and box_config.nthcol == "first" %}
      <div class="hrow">
{% endif %}
      <div class="{% if box_config.colspec == 'single' %}single-table{% else %}column twin-table{% endif %} table-wrapper">
        <table class="newtable"  data-ordering="{{ forloop.counter }}">
          <caption class="ui-widget-header">{{ box_config.name }}<button class="small clear_all">Clear Box</button></caption>
          <thead class="ui-widget-content">
            <tr><th colspan="3"></th></tr>
          </thead>
          <tbody>
{% for i in "123456" %}
            <tr><td><span class="handle ui-icon ui-icon-carat-2-n-s"></span></td><th><input class="player" name="player_{{ i }}" /></th><td><button class="small remove">Remove</button></td></tr>
{% endfor %}
          </tbody>
        </table>
      </div>
{% if box_config.colspec == "double" and box_config.nthcol == "second" %}
      </div>
{% endif %}
{% endfor %}
    </fieldset>
    </form>
  </div>
  </div>

  <div id='maskdiv'></div>

</body>
</html>
