{% extends "base.html" %}

{% block pagetitle %}{{ league_config.name }}{% endblock %}
{% block pagetype %}boxes{% endblock %}
{% load competitions_extras %}
{% block pageattrs %}data-competitiongroupid="{{ league_config.id }}"{% endblock %}
{% block content %}


<div role="main" class="ui-content jqm-content">
    <form id="page-control-form" method="GET" action="#" onsubmit="return false;" >  
      <div class="left-control-box">
        <fieldset data-role="controlgroup" data-type="horizontal" data-shadow="true">
          <input type="radio" name="view_type" id="view_type_boxes" value="boxes" checked="checked" />
          <label for="view_type_boxes">Boxes</label>
          <input type="radio" name="view_type" id="view_type_tables" value="tables" />
          <label for="view_type_tables">Tables</label>
        </fieldset>
      </div>
      <div class="right-control-box">
        <fieldset data-role="controlgroup" data-type="horizontal" data-shadow="true">
          <button id="box-refresh-button" data-inline="true" class="ui-btn ui-icon-refresh ui-btn-icon-right">Refresh</button>
        </fieldset>
      </div>
      <div class="clear-all"></div>
    </form>
{% for box_config in league_config.boxes %}
<!-- {{ box_config.colspec }} {{ box_config.nthcol }} -->
{% if box_config.colspec != 'double' or box_config.nthcol != 'second' %}
  <div class="ui-grid-a boxes-wrapper boxes-wrapper-{{ box_config.colspec }}column">
{% endif %}
    <div class="ui-corner-all custom-corners boxes {% if box_config.colspec == 'double' %}boxes-{{ box_config.nthcol }}column ui-block-{% if box_config.nthcol == 'first' %}a{% else %}b{% endif %}{% endif %}">
      <div class="ui-bar ui-bar-a" data-role="header" data-position="inline">
        <h2>{{ box_config.name }}</h2>
{% if user.is_authenticated %}
        <a id="link-{{ box_config.id }}" href="#boxDetailDialog" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn ui-icon-edit ui-btn-icon-notext ui-corner-all ui-btn-right" onclick="WSRC.onBoxActionClicked(this); return true;">
        </a>
{% endif %}
      </div>
      <div class="ui-body ui-body-a">
        <table data-role="table" data-mode="" id="table-{{ box_config.id }}" class="boxes ui-corner-all ui-table boxtable">
          <thead>
            <tr>
              <th colspan="2"></th>
{% for i in league_config.maxplayers|as_range %}<td class="ui-bar-a">{{ i|add:"1" }}</td>{% endfor %}
              <td class="ui-bar-a">Σ</td>
            </tr>
          </thead>
          <tbody>
{% for i in league_config.maxplayers|as_range %}
{% resolve box_config.players i as player %}
            <tr {% if player.id %}id="player-{{ player.id }}"{% endif %}>
              <th {% if user.is_authenticated and user.player.id == player.id %}class="wsrc-currentuser"{% endif %}>{{ player.get_full_name }}</th>
              <td class="ui-bar-a">{{ i|add:"1" }}</td>
{% for j in league_config.maxplayers|as_range %}
              <td {% if i == j %}class="ui-bar-a"{% endif %}> </td>
{% endfor %}
              <td class="score_total"> </td>
            </tr>
{% endfor %}
          </tbody>
        </table>
        <table data-role="table" data-mode="" id="leaguetable-{{ box_config.id }}" class="boxes ui-corner-all leaguetable" style="display: none">
	<thead>
	  <tr>
	    <th data-priority="persist" class=""></th>
	    <td data-priority="2" class="ui-bar-a">P</td>
	    <td data-priority="3" class="ui-bar-a">W</td>
	    <td data-priority="4" class="ui-bar-a">D</td>
	    <td data-priority="5" class="ui-bar-a">L</td>
	    <td data-priority="4" class="ui-bar-a">F</td>
	    <td data-priority="5" class="ui-bar-a">A</td>
	    <td data-priority="5" class="ui-bar-a" style="max-width: 1em;">Pts</td>
	  </tr>
	</thead>
        <tbody>
{% for i in league_config.maxplayers|as_range %}
{% resolve box_config.players i as player %}
          <tr {% if player.id %}id="leaguetable-player-{{ player.id }}"{% endif %}>
            <th>{{ player.get_full_name }}</th>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
            <td class="score_total"> </td>
          </tr>
{% endfor %}
        </tbody>
        </table>

      </div>
    </div>
{% if box_config.colspec != 'double' or box_config.nthcol != 'first' %}
  </div>
{% endif %}
{% endfor %}
</div>

<div data-role="popup" id="boxDetailDialog" data-overlay-theme="b" data-theme="a" data-dismissible="true">
  <div data-role="header" data-theme="a">
    <h2> </h2>
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
  </div>
  <div class="ui-content">
    <div data-role="collapsibleset" data-theme="a" data-content-theme="a">
      <div data-role="collapsible" data-collapsed="true" data-iconpos="right" id="add-change-div">
        <h4>Match Result</h4>
        <form id="add-change-form" method="POST" action="." onsubmit="WSRC.submit_match_result(); return false" >{% csrf_token %}
          <div style="padding:10px 20px;">
            <label for="player1" class="ui-hidden-accessible">Player 1:</label>
            <input type="hidden" id="competition_id" name="competition_id" value="" />
            <input type="hidden" id="match_id" name="competition_id" value="" />
            <select name="player1" id="player1" data-theme="a" data-native-menu="false" onchange="WSRC.onPlayerSelected(this)">
              <option value="">Player 1</option>
            </select>
            <label for="player2" class="ui-hidden-accessible">Player 2:</label>
            <select name="player2" id="player2" data-theme="a" data-native-menu="false" onchange="WSRC.onPlayerSelected(this)">
              <option value="">Player 2</option>
            </select>

              <fieldset data-role="controlgroup" data-type="horizontal" id="match-type">
                <legend  class="ui-hidden-accessible">Result Type:</legend>
                <input type="radio" name="result_type" id="result_type_normal" value="normal" checked="checked">
                <label for="result_type_normal">Match</label>
                <input type="radio" name="result_type" id="result_type_walkover" value="walkover">
                <label for="result_type_walkover">Walkover</label>
              </fieldset>

            <p id="walkover_input" style="display: none;">
              <label class="ui-hidden-accessible" for="walkover_result">Winner:</label>
              <select name="walkover_result" id="walkover_result" data-theme="a" data-native-menu="false">
              <option value="">Winner</option>
              </select>
            </p>

            <table id="score-entry-input" class="score_entry">
              <tr>
	        <th></th>
	        <th class="score_column" id="header-player1">Player 1</th>
	        <th class="score_column" id="header-player2">Player 2</th>
              </tr>
              <tr class="score_row" id="set_1_row">
	        <td class="score_row_label">Set&nbsp;1:</td>
	        <td class="score_column">
	          <div>
	            <input id="team1_score1" name="team1_score1" type="number" data-clear-btn="false"/>
	          </div>
	        </td>
	        <td class="score_column">
	          <div>
	            <input id="team2_score1" name="team2_score1" type="number" data-clear-btn="false"/>
	          </div>
	        </td>
              </tr>
              <tr class="score_row" id="set_2_row">
	        <td class="score_row_label">Set&nbsp;2:</td>
	        <td class="score_column">
	          <div>
	            <input id="team1_score2" name="team1_score2" type="number" data-clear-btn="false"/>
	          </div>
	        </td>
	        <td class="score_column">
	          <div>
	            <input id="team2_score2" name="team2_score2" type="number" data-clear-btn="false"/>
	          </div>
	        </td>
              </tr>
              <tr class="score_row" id="set_3_row">
	        <td class="score_row_label">Set&nbsp;3:</td>
	        <td class="score_column">
	          <div>
	            <input id="team1_score3" name="team1_score3" type="number" data-clear-btn="false"/>
	          </div>
	        </td>
	        <td class="score_column">
	          <div>
	            <input id="team2_score3" name="team2_score3" type="number" data-clear-btn="false"/>
	          </div>
	        </td>
              </tr>
              <tr class="score_row" id="set_4_row">
	        <td class="score_row_label">Set&nbsp;4:</td>
	        <td class="score_column">
	          <div>
	            <input id="team1_score4" name="team1_score4" type="number" data-clear-btn="false"/>
	          </div>
	        </td>
	        <td class="score_column">
	          <div>
	            <input id="team2_score4" name="team2_score4" type="number" data-clear-btn="false"/>
	          </div>
	        </td>
              </tr>
              <tr class="score_row" id="set_5_row">
	        <td class="score_row_label">Set&nbsp;5:</td>
	        <td class="score_column">
	          <div>
	            <input id="team1_score5" name="team1_score5" type="number" data-clear-btn="false"/>
	          </div>
	        </td>
	        <td class="score_column">
	          <div>
	            <input id="team2_score5" name="team2_score5" type="number" data-clear-btn="false"/>
	          </div>
	        </td>
              </tr>
            </table>
            <p>
              <button id="submit_match" type="submit" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-right ui-icon-check" disabled="disabled">Submit</button>
          </div>
        </form>
      </div>
      <div data-role="collapsible" data-collapsed="true" data-iconpos="right" id="league-results-div">
        <h4>All Results</h4>
        <div>&nbsp;</div>
        <p></p>
      </div>

    </div>
  </div>
</div>

{% endblock %}
