<!DOCTYPE html>

<html>
<head>

  <link rel="stylesheet" href="/static/css/all_admin_boxes.css">
<style>
 .center {
     text-align: center;
 }
 .noborder {
     border: 0 !important;
 }
 table {
     border-collapse: collapse;
 }
 table.table > tbody > tr > td {
     padding: 5px;
     text-align: center;
     min-width: 16px;
 }
 .inactive {
     text-decoration: line-through;
 }
</style>  
  <script src="/static/js/all_admin_boxes.js"></script>

  <title>Boxes Admin - Woking Squash Rackets Club</title>

  <script type="text/javascript">
var players = {{ player_data|safe }};
jQuery(document).ready(function(){wsrc.admin.boxes.onReady(players)});
  </script>

</head>
<body>
  <div class="column-wrapper ui-widget">
  <div class="hrow">
    <form class="column" id="source_boxes" method="GET" action="#" onsubmit="return false;" data-id="{{ competition.id }}">{% csrf_token %}
    <fieldset class="ui-corner-all">
      <legend>Old League</legend>
      <div class="top-form-field-container">
        <div class="ui-field-contain">
          <label for="old_league_end_date">League:</label>
          <select name="league" id="old_league_end_date" onchange="wsrc.admin.boxes.on('handle_league_changed', this)">
            <option value="">Please Select...</option>
{% regroup selector.links|dictsortreversed:'year' by year as yearly_links_list %}
{% for yearly_links in yearly_links_list %}
        <optgroup label="{{ yearly_links.grouper }}">
{% for link in yearly_links.list|dictsortreversed:'end_date' %}
          <option data-id="{{ link.id }}" value="{{ link.link }}" {% if link.selected %}selected="selected"{% endif %}>{{ link.name }}</option>
{% endfor %}
        </optgroup>
{% endfor %}
          </select>
        </div>
        <div class="ui-field-contain">
          <label>Display:</label>
          <input type="radio" name="view_type" id="view_type_boxes" value="boxes"/>Boxes
          <input type="radio" name="view_type" id="view_type_tables" value="tables"  checked="checked" />Tables
        </div>
      </div>
{% for box_config in boxes %}
{% if box_config.colspec == "double" and box_config.nthcol == "first" %}
      <div class="hrow">
{% endif %}
      <div class="{% if box_config.colspec == 'single' %}single-table{% else %}column twin-table{% endif %} table-wrapper">
        {{ box_config.box_table|safe }}
        {{ box_config.league_table|safe }}
      </div>
{% if box_config.colspec == "double" and box_config.nthcol == "second" %}
      </div>
{% endif %}
{% endfor %}
    </fieldset>
    </form>
    <form class="column" id="target_boxes" method="GET" action="#" onsubmit="return false;" {% if new_competition_group %}data-id="{{ new_competition_group.id }}"{% endif %}>  
    <fieldset class="ui-corner-all">
      <legend>New League</legend>
      <div class="top-form-field-container">
        <div class="ui-field-contain">
          <label for="target_league_end_date">End Date:</label>
          <input name="end_date" id="target_league_end_date" {% if new_competition_group %}value="{{ new_competition_group.end_date.isoformat }}"{% endif %}>
          <button type="button" name="save" value="save">Save</button>
          <button type="button" name="preview" value="preview">Preview</button>
        </div>
        <div class="ui-field-contain">
          <label for="target_league_actions">Action:</label>
          <select name="action" id="target_league_actions">
            <option value="" selected="selected">----------</option>
            <option value="auto_populate">Auto-Populate All</option>
            <option value="clear">Clear All</option>
            <optgroup label="Permanent Changes:">
              <option value="make_live">Start New League</option>
            </optgroup>
          </select>
          <button type="button" name="go" value="go">Go</button>
        </div>
      </div>
{% for box_config in new_boxes %}
{% if box_config.colspec == "double" and box_config.nthcol == "first" %}
      <div class="hrow">
{% endif %}
      <div class="{% if box_config.colspec == 'single' %}single-table{% else %}column twin-table{% endif %} table-wrapper">
        <table class="newtable"  data-ordering="{{ forloop.counter }}" {% if box_config.competition %}data-id="{{ box_config.competition.id }}"{% endif %}>
          <caption class="ui-widget-header">{{ box_config.name }}<button class="small clear_all">Clear Box</button></caption>
          <thead class="ui-widget-content">
            <tr><th colspan="3"></th></tr>
          </thead>
          <tbody>
{% for entrant in box_config.entrants %}
          <tr>
            <td><span class="handle ui-icon ui-icon-carat-2-n-s"></span></td>
            <th><input class="player" name="player_{{ i }}" {% if entrant.id %}value="{{ entrant.full_name }} [{{ entrant.player1__id }}]"{% endif %}/></th>
            <td><button class="small remove">Remove</button></td>
          </tr>
{% endfor %}
          </tbody>
        </table>
      </div>
{% if box_config.colspec == "double" and box_config.nthcol == "second" %}
      </div>
{% endif %}
{% endfor %}
    </fieldset>
    </form>
  </div>
  </div>

  <div id='maskdiv'></div>

</body>
</html>
