{% extends "06_wsrc_navigation.html" %}

{% block titleprefix %}{{ competition.name }} - {% endblock %}

{% block html_header_extra %}
<meta name="robots" content="noindex" />
{{ block.super }}
<style>
 .center {
     text-align: center;
 }
 .noborder {
     border: 0 !important;
 }
 td, th.inverse {
     max-width: 20px;
     text-align: center;
     border: #ddd  1px solid;
 }
 table > tbody > tr > *.inverse {
     background-color: #777;
     color: white;
 }            
 table.table > tbody > tr > td {
     padding-left: 0;
     padding-right: 0;
     text-align: center;
     min-width: 16px;
 }
 table.table > tbody > tr > *:last-child {
     min-width: 23px;
     border-right: 0;
 }
 table > tbody > tr > th.player {
     font-weight: normal;
     overflow: hidden;
     max-width: 100px;
     text-overflow: ellipsis;
     white-space: nowrap;
     text-align: left;
 }
 table > tbody > tr > *.win,
 table > tbody > tr > th.winner {
     font-weight: bold;
 }
 table > tbody > tr.header th,
 table > tbody > tr.footer th {
     text-align: center;
     font-weight: lighter;
     font-size: 0.8em;
     border: 0;
     min-height: 10px;
 }
 table.results .player1 > * {
     border-top: 0;
 }
 table.results .player2 > * {
     border-bottom: 0;
 }
 table.results > tbody > tr:nth-of-type(8n+5),
 table.results > tbody > tr:nth-of-type(8n+6),
 table.results > tbody > tr:nth-of-type(8n+7),
 table.results > tbody > tr:nth-of-type(8n+8) {
     background-color: #f9f9f9;
 }
 table > tbody > tr:last-child th.player {
     border-bottom: 1px #ddd solid;
 }
 td.points {
     font-weight: bold;     
 }
 th.wsrc-currentuser,
 .wsrc-currentuser a {
     color: #ed3338;
 }
 div.pannel-buttons {
     display: inline-block;
     margin-top: -2px;
 }
 div.pannel-buttons button {
     margin-left: 5px;
 }
 div.pannel-buttons .glyphicon {
     margin-right: 3px;
 }
 ul.header {
     margin-bottom: 20px;
 }
 #league_selector select.leagues {
     width: auto;
     margin-bottom: 15px;
 }
 .box-links > li {
     position: relative;
     float: left;
     padding-right: 30px;
 }
 #links_clear {
     margin-bottom: 15px;
 }
 @media (min-width: 650px) {
     div#drop_clear {
         display: none;
     }
     #league_selector select.leagues {
         margin-bottom: 0;
     }
 }
 @media (max-width: 500px) {
     body > div.container,
     #source_boxes div.panel-body {
         padding-right: 5px;
         padding-left: 5px;
     }
 } 
</style>
{% endblock %}

{% block centered_page_content %}

<form id="league_selector" class="form-inline">
  {% if selector %}
  <select class="form-control pull-right leagues" name="league_end_date" id="league_end_date" onchange="document.location = $(this).val() + document.location.search">
    <option value="" >{{ selector.default_text }} . . .</option>
    {% regroup selector.links|dictsortreversed:'year' by year as yearly_links_list %}
    {% for yearly_links in yearly_links_list %}
    <optgroup label="{{ yearly_links.grouper }}">
      {% for link in yearly_links.list|dictsortreversed:'end_date' %}
      <option value="{{ link.link }}" {% if link.selected %}selected="selected"{% endif %}>{{ link.name }}</option>
      {% endfor %}
    </optgroup>
    {% endfor %}
  </select>
  {% endif %}
</form>

<div id="drop_clear" class="clearfix"></div>

<ul class="nav nav-tabs header">
  <li role="presentation" {% if view_type == "boxes"   %}class="active"{% endif %}><a href="?view=boxes" onclick="return setview(this)">Boxes</a></li>
  <li role="presentation" {% if view_type == "tables"  %}class="active"{% endif %}><a href="?view=tables" onclick="return setview(this)">Tables</a></li>
  <li role="presentation" {% if view_type == "results" %}class="active"{% endif %}><a href="?view=results" onclick="return setview(this)">Match Results</a></li>
</ul>

<ul class="box-links">
  {% for box_config in boxes %}
  <li><a href="#comp_{{ box_config.id }}">{{ box_config.name }}</a></li>
  {% endfor %}
  <li style="display: none;"><a href="#all">All</a></li>
</ul>

<div id="links_clear" class="clearfix"></div>

{% if not user.is_authenticated %}
<p class="well">Players' names have been obscured. To view the boxes in full please <a href="/login?next={% url 'boxes' %}">Sign In</a>.</p>
{% endif %}

<div id="source_boxes" class="competition-wrapper" data-id="{{ competition.id }}">
{% for box_config in boxes %}
<!-- {{ box_config.colspec }} {{ box_config.nthcol }} -->
{% if box_config.colspec == 'single' or box_config.nthcol == 'first' %}
  <div class="row">
{% endif %}
    <div class="col-xs-12 {% if box_config.colspec == 'single' %}col-sm-6 col-sm-offset-3{% else %}col-sm-6{% endif %}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pannel-buttons pull-right">
{% if box_config.can_edit %}
          <a type="button" class="btn btn-primary btn-xs" href="{% url 'match_create' comp_id=box_config.id %}" onclick=""><span class="glyphicon glyphicon-edit"></span>Score Entry</a>
{% endif %}
        </div>
        <h3 class="panel-title" id="comp_{{ box_config.id }}">{% if user.is_authenticated %}<a href="{% url 'member_list' %}?filter-ids={% for e in box_config.entrants %}{% if e.player1__id %}{% if forloop.counter0 > 0 %},{% endif %}{{ e.player1__id }}{% endif %}{% endfor %}">{% endif %}{{ box_config.name }}{% if user.is_authenticated %}</a>{% endif %}</h3>
      </div>
      <div class="panel-body table-container" data-id="{{ box_config.id }}">
        <div class="boxes"   {% if view_type != "boxes" %}style="display: none;"{% endif %}>{{ box_config.box_table|safe }}</div>
        <div class="tables" {% if view_type != "tables" %}style="display: none;"{% endif %}>{{ box_config.league_table|safe }}</div>
        <div class="results" {% if view_type != "results" %}style="display: none;"{% endif %}>
          <table class="table table-condensed results">
            <thead>
              <tr><th>Player</th><th colspan="5" class="center">Scores</th><th class="center">Pts</th></tr>
            </thead>
            <tbody>
              {% for match in box_config.matches %}
              <tr class="header" data-match_id="{{ match.id }}">
                <th colspan="7">{{ match.last_updated|date:"D, j N Y" }}</th>
              </tr>
              <tr class="player1">
                <th class="player {% if match.get_winner == match.team1 %}winner{% endif %}">{{ match.team1.player1.user.get_full_name }}</th>
                <td class="{% if match.team1_score1 > match.team2_score1 %}win{% endif %}">{{ match.team1_score1|default_if_none:"" }}</td>
                <td class="{% if match.team1_score2 > match.team2_score2 %}win{% endif %}">{{ match.team1_score2|default_if_none:"" }}</td>
                <td class="{% if match.team1_score3 > match.team2_score3 %}win{% endif %}">{{ match.team1_score3|default_if_none:"" }}</td>
                <td class="{% if match.team1_score4 > match.team2_score4 %}win{% endif %}">{{ match.team1_score4|default_if_none:"" }}</td>
                <td class="{% if match.team1_score5 > match.team2_score5 %}win{% endif %}">{{ match.team1_score5|default_if_none:"" }}</td>
                <td class='{% if match.get_winner == match.team1 %}win{% endif %}'>{{ match.get_box_league_points_team1|default_if_none:"" }}</td>
              </tr>
              <tr class="player2">
                <th class="player {% if match.get_winner == match.team2 %}winner{% endif %}">{{ match.team2.player1.user.get_full_name }}</th>
                <td class="{% if match.team2_score1 > match.team1_score1 %}win{% endif %}">{{ match.team2_score1|default_if_none:"" }}</td>
                <td class="{% if match.team2_score2 > match.team1_score2 %}win{% endif %}">{{ match.team2_score2|default_if_none:"" }}</td>
                <td class="{% if match.team2_score3 > match.team1_score3 %}win{% endif %}">{{ match.team2_score3|default_if_none:"" }}</td>
                <td class="{% if match.team2_score4 > match.team1_score4 %}win{% endif %}">{{ match.team2_score4|default_if_none:"" }}</td>
                <td class="{% if match.team2_score5 > match.team1_score5 %}win{% endif %}">{{ match.team2_score5|default_if_none:"" }}</td>
                <td class='{% if match.get_winner == match.team2 %}win{% endif %}'>{{ match.get_box_league_points_team2|default_if_none:"" }}</td>
              </tr>
              <tr class="footer"><th colspan="7"></th></tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
{% if box_config.colspec == 'single' or box_config.nthcol == 'second' %}
  </div>
{% endif %}
{% endfor %}
</div>
{% endblock %}


{% block body_script_extra %}
<script>
 function setview(target) {
     var params = target.href.split("?")[1].split("&");
     var view = null;
     for (var idx in params) {
         var vals = params[idx].split("=");
         if (vals[0] === "view") {
             view = vals[1];
             break;
         }
     }
     if (view && history) {
         $(".table-container > *").hide();
         $(".table-container > ." + view).show();
         var tabs = $("ul.header li")
         tabs.removeClass("active");
         tabs.each(function(idx, elt) {
             if (elt.firstElementChild == target)
                 $(elt).addClass("active");
         });
         history.pushState({}, "", target.href);
         return false;
     }
 }
 $(".box-links > li > a").on("click", function(evt) {
     var src = evt.target;
     var idref = src.hash.slice(1)
     var headers = $("h3.panel-title")
     headers.each(function(idx, elt) {
         var panel = $(elt).parents(".panel")
         if ("all" == idref || elt.id == idref) {
             panel.show()
         } else {
             panel.hide()
             show_all = false;
         }
     });
     if (idref == "all")
         $("a[href='#all']").parents("li").hide()
     else
         $("a[href='#all']").parents("li").show()
     evt.preventDefault()
     evt.stopPropagation()
     return undefined;
 });     
</script>
{% endblock %}
