{% extends "06_wsrc_navigation.html" %}

{% block pagetitle %}{{ competition.name }}{% endblock %}
{% block pagetype %}boxes{% endblock %}
{% block html_header_extra %}
{{ block.super }}
<script>
  var wsrc_boxes_data = {"matches": {}};
</script>
{% endblock %}
{% block centered_page_content %}

  <form id="page-control-form" method="GET" action="#" onsubmit="return false;" >  
    <div class="left-control-box">
{% if selector %}
      <select name="league_end_date" id="league_end_date" onchange="wsrc.boxes.on('handle_league_changed', this)">
        <option value="" >{{ selector.default_text }} . . .</option>
{% regroup selector.links|dictsortreversed:'year' by year as yearly_links_list %}
{% for yearly_links in yearly_links_list %}
        <optgroup label="{{ yearly_links.grouper }}">
{% for link in yearly_links.list|dictsortreversed:'end_date' %}
          <option value="{{ link.link }}" {% if link.selected %}selected="selected"{% endif %}>{{ link.name }}</option>
{% endfor %}
        </optgroup>
{% endfor %}
      </select>
{% endif %}
    </div>
    <div class="right-control-box">
      <fieldset data-role="controlgroup" data-type="horizontal" data-shadow="true" data-theme="c">
        <input type="radio" name="view_type" id="view_type_boxes" value="boxes" checked="checked" />
        <label for="view_type_boxes">Boxes</label>
        <input type="radio" name="view_type" id="view_type_tables" value="tables" />
        <label for="view_type_tables">Tables</label>
      </fieldset>
      <fieldset data-role="controlgroup" data-type="horizontal" data-shadow="true">
        <button id="box-refresh-button" data-inline="true" class="ui-btn ui-icon-refresh ui-btn-icon-left">Refresh</button>
      </fieldset>
    </div>
    <div class="clear-all"></div>
  </form>

  {% if not user.is_authenticated %}
  <p class="page_info">Players' names have been obscured. To view the boxes in full please <a href="/login?next={% url 'boxes' %}" data-ajax="false">Log In</a>.</p>
  {% endif %}
  
  <div id="source_boxes" class="competition-wrapper" data-id="{{ competition.id }}">
{% for box_config in boxes %}
<!-- {{ box_config.colspec }} {{ box_config.nthcol }} -->
{% if box_config.colspec != 'double' or box_config.nthcol != 'second' %}
  <div class="ui-grid-a boxes-wrapper boxes-wrapper-{{ box_config.colspec }}column">
{% endif %}
    <div class="ui-corner-all custom-corners boxes {% if box_config.colspec == 'double' %}boxes-{{ box_config.nthcol }}column ui-block-{% if box_config.nthcol == 'first' %}a{% else %}b{% endif %}{% endif %}">
      <div class="ui-bar box-header" data-theme="b" data-role="header">
        <h2>{% if user.is_authenticated %}<a href="{% url 'member_list' %}?filter-ids={% for e in box_config.entrants %}{% if e.player1__id %}{% if forloop.counter0 > 0 %},{% endif %}{{ e.player1__id }}{% endif %}{% endfor %}">{% endif %}{{ box_config.name }}{% if user.is_authenticated %}</a>{% endif %}</h2>
{% if box_config.can_edit %}
        <a id="link-{{ box_config.id }}" class="ui-btn ui-btn-icon ui-btn-icon-left ui-icon-edit ui-corner-all ui-btn-right ui-btn-a" onclick="wsrc.boxes.on('handle_edit_clicked', {{ box_config.id }}); return true;">Edit
        </a>
{% endif %}
        <a class="ui-btn ui-btn-icon ui-btn-icon-left ui-icon-bullets ui-corner-all ui-btn-left ui-btn-a" data-rel="popup" onclick="wsrc.boxes.on('handle_results_clicked', {{ box_config.id }}); return true;">Results</a>
      </div>
      <div class="ui-body ui-body-a" data-id="{{ box_config.id }}">
        {{ box_config.box_table|safe }}
        {{ box_config.league_table|safe }}
        <script>wsrc_boxes_data.matches["{{ box_config.id }}"]={{ box_config.matches_data|safe }};</script>
      </div>
    </div>
{% if box_config.colspec != 'double' or box_config.nthcol != 'first' %}
  </div>
{% endif %}
{% endfor %}
  </div>
{% endblock %}{% comment "centered_page_content" %}{% endcomment %}

{% block extra_page_content %}
{{ block.super }}
<div data-role="popup" id="score_entry_dialog" data-overlay-theme="b" data-theme="a" data-dismissible="true">
  <div data-role="header">
    <h2>Match Result</h2>
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
  </div>
  <div class="ui-content">

{% include "match_result_form.html" %}

  </div>
</div>

<div data-role="popup" id="box_results_dialog" data-overlay-theme="b" data-theme="a" data-dismissible="true">
  <div data-role="header">
    <h2>Results</h2>
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
  </div>
  <div class="ui-content">
    <table class="league-results">
      <thead>
        <tr><th>Date</th><th>Opponents</th><th>Scores</th><th>Points</th></tr>
      </thead>
      <tbody>
        <tr>
          <td>Wed 24th Feb, 7:56pm</td>
          <td><span class="winner">Stewart Perry</span> vs. Peter Richardson</td>
          <td class="points">9-3, 9-1, 9-0</td>
          <td class="points">7-2</td>
        </tr>
        <tr>
          <td>Wed 24th Feb, 7:56pm</td>
          <td><span class="winner">John Hughes</span> vs. Peter Richardson</td>
          <td class="points">9-3, 9-7, 8-9, 9-3</td>
          <td class="points">6-3</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}{% comment "extra_page_content" %}{% endcomment %}
