<!DOCTYPE html>

<html>
<head>

  <link rel="stylesheet" href="/static/css/all_admin.css">
  <script src="/static/js/all_admin.js"></script>

{% load kwacros %}
{% loadkwacros 'form_macros.html' %}

  <title>Tournament Admin - Woking Squash Rackets Club</title>

  <script type="text/javascript">
var players  = { {% for p in players %}{% if forloop.counter0 > 0 %},{% endif %}{{ p.id }}: {id: {{ p.id }}, full_name: "{{ p.user.first_name }} {{ p.user.last_name }}"}{% endfor %} };
var competition_data = {{ competition_data|safe }};
jQuery(document).ready(function(){WSRC_admin.onReady(players, competition_data)});
  </script>

</head>
<body>

  <div id="tabs" class="initiallyHidden">
    <ul>
      <li><a href="#manage_tournament">Manage Tournament</a></li>
      <li><a href="#new_tournament">Create Tournament</a></li>
      <li><a href="#new_comp_group">Create Tournament Group</a></li>
    </ul>

    <div id="manage_tournament">
      {% if edit_tournament_form.errors %}
      <p class="form_error_message ui-btn-icon ui-btn-icon-left ui-icon-alert">Validation Error. 
        Please try again.
      </p>
      {% endif %}
      {% if edit_tournament_form.success_message %}
      <p class="form_success_message">
        {{ edit_tournament_form.success_message }}
      </p>
      {% endif %}
        <fieldset name="tournament_entrants" class="ui-corner-all">
          <legend>Tournament Entrants</Legend>
          <form method="post" onsubmit="return false;" action="">{% csrf_token %}
          <div class="ui-field-contain">
            <label for="tournament">Tournament:</label>
            <select name="tournament" onchange="document.location='/tournaments/admin/' + this.options[this.selectedIndex].value">
              {% for yearly_tournaments in tournaments|dictsortreversed:'year' %}
              <optgroup label="{{ yearly_tournaments.year }}">
                {% for tournament in yearly_tournaments.competitions %}
                 <option value="{{ yearly_tournaments.year }}/{{ tournament.name }}" {% if tournament == edit_tournament_form.instance %}selected="selected"{% endif %}>{{ tournament.name }} {{ yearly_tournaments.year }}</option>
                 {% endfor %}
              </optgroup>
              {% endfor %}
            </select>
            <input type="radio" onchange="WSRC_admin.comp_type_toggled()" name="tournament_type" value="seeded" checked="checked">Seeded</input>
            <input type="radio" onchange="WSRC_admin.comp_type_toggled()" name="tournament_type" value="handicap">Handicap</input>
          </div>
          </form>
          <ol class="entrants_list">
          </ol>
          <form action="#" onsubmit="WSRC_admin.add_entrant(this); return false;">
            <div class="ui-field-contain">
              <label for="add_member_textbox">Add: </label>
              <input id="add_member_textbox">
            </div>
          </form>
          <form method="post" onsubmit="return false;" action="">{% csrf_token %}
            <div class="ui-field-contain">
              <label for="add_member_textbox">Rounds: </label>
              <input type="button" id="add_round_button" value="Add Round" onclick="WSRC_admin.add_round()"></input>
            </div>
            <div class="align-right">
              <input type="button" value="Shuffle non-Seeds" onclick="WSRC_admin.shuffle_non_seeds()"></input>
              <input type="submit" value="Save" onclick="WSRC_admin.submit_entrants(this.form); return false;"></input>
            </div>
          </form>
        </fieldset>
    </div>

    <div id="new_tournament">
      {% if new_tournament_form.errors %}
      <p class="form_error_message ui-btn-icon ui-btn-icon-left ui-icon-alert">Validation Error. 
        Please try again.
      </p>
      {% endif %}
      {% if new_tournament_form.success_message %}
      <p class="form_success_message">
        {{ new_tournament_form.success_message }}
      </p>
      {% endif %}

      <form method="post" action="#new_tournament">{% csrf_token %}
        <input type="hidden" name="action" value="new_tournament">
        <input type="hidden" name="state" value="not_started">
        <fieldset name="tournament_details" class="ui-corner-all">
          <legend>New Tournament</legend>
          {% usekwacro createfield new_tournament_form.group %}
          {% usekwacro createfield new_tournament_form.name %}
          {% usekwacro createfield new_tournament_form.end_date %}
          <div class="ui-field-contain">
            <label>&nbsp;</label>
            <input type="submit" value="Create" style="float: left;" ></input>
          </div>
        </fieldset>
      </form>
    </div>

    <div id="new_comp_group">
      {% if new_group_form.errors %}
      <p class="form_error_message ui-btn-icon ui-btn-icon-left ui-icon-alert">Validation Error. 
        Please try again.
      </p>
      {% endif %}
      {% if new_group_form.success_message %}
      <p class="form_success_message">
        {{ new_group_form.success_message }}
      </p>
      {% endif %}

      <form method="post" action="#new_comp_group">{% csrf_token %}
        <input type="hidden" name="action" value="new_comp_group">
        <input type="hidden" name="comp_type" value="wsrc_tournaments">
        <fieldset name="tournamentgroup_details" class="ui-corner-all">
          <legend>New Tournament Group</legend>
          {% usekwacro createfield new_group_form.name %}
          {% usekwacro createfield new_group_form.end_date %}
          <div class="ui-field-contain">
            <label>&nbsp;</label>
            <input type="submit" value="Create" style="float: left;" ></input>
          </div>
        </fieldset>
      </form>
    </div>

  </div>

</body>
</html>




 
