{% extends "06_wsrc_navigation.html" %}

{% block titleprefix %}{{ competition.name }} {{ competition.end_date|date:'Y' }} - {% endblock %}
{% block html_header_extra %}
<meta name="robots" content="noindex" />
{{ block.super }}
<link href="/static/css/wsrc_tournaments.css" rel="stylesheet" />
{% endblock %}

{% block container-classes %}container{% if competition.nbrackets > 5 %}-fluid{% endif %}{% endblock %}

{% block centered_page_content %}

<div class="controls">
  <form id="page-control-form" class="form-inline">
    <select class="form-control" name="tournament_year_and_name" onchange="document.location = $(this).val()">
      <option value="">{{ selector.default_text }} . . .</option>
      {% regroup selector.links|dictsortreversed:'year' by year as yearly_links %}
      {% for year in yearly_links %}
      <optgroup label="{{ year.grouper }}">
        {% for comp in year.list %}
        <option value="{{ comp.link }}" {% if comp.selected %}selected="selected"{% endif %}>{{ comp.name }}</option>
        {% endfor %}
      </optgroup>
      {% endfor %}
    </select>
    <a type="button" class="btn btn-primary" href="{% url 'match_choose_and_update' comp_id=competition.id %}" onclick=""><span class="glyphicon glyphicon-edit"></span>Score Entry</a>
  </form>
  <div id="drop_clear" class="clearfix"></div>
  <h3>{{ competition.name }}&nbsp;{{ competition.end_date|date:'Y' }}</h3>
</div>

<div class="competition-wrapper center-block">
  {{ bracket|safe }}
</div>
{% endblock %}{% comment "centered_page_content" %}{% endcomment %}


{% block body_script_extra %}
<script>
 var playerElts = jQuery("td.player");
 playerElts.unbind()  
 playerElts = playerElts.filter(":not(td.empty-match)");
 
 playerElts.mouseenter(function(evt) {
     var target = $(evt.target);
     var myteam = target.data("team");
     if (! myteam)
         return false;
     var matches = jQuery("td.player").filter(function() {
         var theirteam = $(this).data("team");
         return myteam == theirteam
     });
     matches.addClass("wsrc-highlight")
 });

 playerElts.mouseleave(function(evt) {
     jQuery("td.wsrc-highlight").removeClass("wsrc-highlight");
 });

 function open_score_entry_dialog(elt) {
     console.log(elt);
     var matchId = parseInt($(elt).data("match"), 10);
     document.location.href="{% url 'match_create' comp_id=competition.id %}/" + matchId 
 };
 
 playerElts = playerElts.filter(":not(td.completed-match)");
 playerElts = playerElts.filter(":not(td.partial-match)");
 playerElts.dblclick(function(evt) {
     return open_score_entry_dialog(evt.target);
 });
 playerElts.on("taphold", function(evt) {
     return open_score_entry_dialog(evt.target);
 });
 playerElts.siblings().filter(".score").dblclick(function(evt) {
     var target = evt.target;
     while (!target.classList.contains("player")) {
         target = target.previousSibling;
     }
     return open_score_entry_dialog(target);
 });
 
</script>  
{% endblock %}
