{% extends "06_wsrc_navigation.html" %}

{% block titleprefix %}{{ competition.name }} {{ competition.end_date|date:'Y' }} - {% endblock %}
{% block pagetitle %}{{ competition.name }} Tournament {{ competition.end_date|date:'Y' }}{% endblock %}
{% block pagetype %}tournament{% endblock %}
{% block pageattrs %}data-competitionid="{{ competition.id }}"{% endblock %}
{% load competitions_extras %}
{% block html_header_extra %}
<meta name="robots" content="noindex" />
{{ block.super }}
<script>
window.WSRC_bracket_data = {{ bracket_data|safe }};
window.WSRC_is_authenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
</script>
{% endblock %}


{% block centered_page_content %}

  <form id="page-control-form" method="GET" action="#" onsubmit="return false;" >  
    <div class="left-control-box">
      <select name="tournament_year_and_name" onchange="WSRC.onTournamentSelected(this)">
        <option value="">{{ selector.default_text }} . . .</option>
{% regroup selector.links|dictsortreversed:'year' by year as yearly_links %}
{% for year in yearly_links %}
        <optgroup label="{{ year.grouper }}">
{% for comp in year.list %}
          <option value="{{ comp.link }}" {% if comp.selected %}selected="selected"{% endif %}>{{ comp.name }}</option>
{% endfor %}
        </optgroup>
{% endfor %}
      </select>
    </div>
    <div class="right-control-box">
      <fieldset data-role="controlgroup" data-type="horizontal" data-shadow="true">
        <button id="edit-button" data-inline="true" class="ui-btn ui-icon-edit ui-btn-icon-right {% if not user.is_authenticated %}ui-state-disabled{% endif %}" {% if user.is_authenticated %}onclick="wsrc.Tournament.on_edit_clicked(this);"{% endif %}>Edit</button>
      </fieldset>
      <fieldset data-role="controlgroup" data-type="horizontal" data-shadow="true">
        <button id="bracket-refresh-button" data-inline="true" class="ui-btn ui-icon-refresh ui-btn-icon-right">Refresh</button>
      </fieldset>
    </div>
    <div class="clear-all"></div>
  </form>

  <div class="competition-wrapper">
  {{ bracket|safe }}
  </div>
{% endblock %}{% comment "centered_page_content" %}{% endcomment %}


{% block extra_page_content %}
{{ block.super }}
<div data-role="popup" id="score_entry_dialog" data-overlay-theme="b" data-theme="a" data-dismissible="true">
  <div data-role="header" data-theme="a">
    <h2>Match Result</h2>
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
  </div>
  <div class="ui-content">

{% include "match_result_form.html" %}

  </div>
</div>
{% endblock %}{% comment "extra_page_content" %}{% endcomment %}
