{% extends "base.html" %}

{% block titleprefix %}{{ competition.name }} {{ competition.end_date|date:'Y' }} - {% endblock %}
{% block pagetitle %}{{ competition.name }} {{ competition.end_date|date:'Y' }}{% endblock %}
{% block pagetype %}tournament{% endblock %}
{% block pageattrs %}data-competitionid="{{ competition.id }}"{% endblock %}
{% load competitions_extras %}
{% block content %}


<div role="main" class="ui-content jqm-content">
  <div class="tournament-wrapper">
  {{ bracket|safe }}
  </div>
</div>

{% endblock %}
