{% extends "03_bootstrap_page_structure.html" %}

{% block body_header %}
{{ block.super }}

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-static-top" {% if options.no_navigation %}style="display: none;"{% endif %}>
  <div class="{% block container-classes %}container{% endblock %}">
    <div class="navbar-header">
      <a class="navbar-brand" style="padding-top: 0;" href="/home">
        <svg width="98"  height="50" class="visible-xs visible-sm"><image xlink:href="/static/images/logo_rectanglular_alpha.svg" src="/static/images/logo_98x50_alpha.png"  width="86"  height="44" y="3" alt="Woking Squash Rackets Club" class="visible-xs visible-sm"/></svg>
        <svg width="137" height="70" class="visible-md visible-lg"><image xlink:href="/static/images/logo_rectanglular_alpha.svg" src="/static/images/logo_137x70_alpha.png" width="121" height="62" y="4" alt="Woking Squash Rackets Club" class="visible-md visible-lg"/></svg>
      </a>
{% block navbar_header %}{% endblock %}
    </div>
    <div id="navbar" class="navbar-collapse collapse">
{% block navbar %}{% endblock %}
    </div>
  </div>
</nav>

{% endblock %}
