{% extends "05_wsrc_footer.html" %}

{% block html_header_extra %}
<script>
$( document ).on( "pagecreate", ".wsrc-site", function( event ) {
  var page = $( this );
  $( ".jqm-navmenu-panel ul" ).listview();
  $( ".menu-link a" ).on( "click", function() {
    var panel = page.find( ".jqm-navmenu-panel:not(.jqm-panel-page-nav)" ).panel();
    panel.panel( "open" );
  });
});
</script>
{% endblock %}{% comment "html_header_extra" %}{% endcomment %}

{% block page_header_extra %}
  <div class="topicon menu-link">
    <a class="centered-icon" href="#"><img src="/static/css/images/bars-white.png" width="14" height="14" alt="Menu"></a>
    <a href="#">Menu</a>
  </div>
  <div class="topicon login-link">
    <a class="centered-icon" href="{% if user.is_authenticated %}/logout_dialog{% else %}/login?next={{ request.get_full_path }}{% endif %}" {% if user.is_authenticated %}data-transition="none"{% else %}data-ajax="false"{% endif %}><img src="/static/css/images/user-white.png" width="14" height="14" alt="Login"></a>
    <a href="{% if user.is_authenticated %}/logout_dialog{% else %}/login?next={{ request.get_full_path }}{% endif %}" {% if user.is_authenticated %}data-transition="none"{% else %}data-ajax="false"{% endif %}>{% if user.is_authenticated %}{{ user.first_name }}{% else %}Login{% endif %}</a>
  </div>
{% endblock %}

{% block page_content_classes %}jqm-content{% endblock %}
{% block page_content %}
<div class="centered-content-wrapper" {% if options.no_navigation %}style="max-width: 90%;"{% endif %}>
  <!-- left nav menu: -->
  <div data-role="panel" class="jqm-navmenu-panel" data-position="left" data-display="overlay" data-theme="a" {% if options.no_navigation %}style="display: none;"{% endif %}>
    <ul class="jqm-list ui-alt-icon ui-nodisc-icon">
      
{% for node in navlinks %}
<!-- {{ node.url }} {{ node.link }} -->
  {% if node.url %}
      <li {% if node.icon %}data-icon="{{ node.icon }}"{% endif %}>
        <a href="{% if node.is_reverse_url %}{% url node.url %}{% else %}{{ node.url }}{% endif %}" data-ajax="false">{{ node.name }}</a>
      </li>
  {% else %}
      <li data-role="collapsible" data-enhanced="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right" data-inset="false" class="ui-collapsible ui-collapsible-themed-content ui-collapsible-collapsed">
	<div class="ui-collapsible-heading ui-collapsible-heading-collapsed">
          <a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-right ui-btn-inherit ui-icon-carat-d">{{ node.name }}<span class="ui-collapsible-heading-status"> click to expand contents</span></a>
	</div>
	<div class="ui-collapsible-content ui-body-inherit {% if not node.is_expanded %}ui-collapsible-content-collapsed{% endif %}"
             {% if not node.is_expanded %}aria-hidden="true"{% endif %}>
	  <ul>
    {% for child in node.children %}          
            <li {% if child.icon %}data-icon="{{ child.icon }}"{% endif %}>
              <a href="{% if child.is_reverse_url %}{% url child.url %}{% else %}{{ child.url }}{% endif %}" data-ajax="false">{{ child.name }}</a>
            </li>
    {% endfor %}
	  </ul>
	</div>
      </li>
  {% endif %}  
{% endfor %}
    </ul>
  </div>

  <div class="nonmenu-content" {% if options.no_navigation %}style="width: 100%; margin: 0; padding: 0;"{% endif %}> 
  {% block centered_page_content %}{% endblock %}
  </div>
</div>
{% endblock %}{% comment "centered-content-wrapper" %}{% endcomment %}

{% block extra_page_content %}
  <div data-role="popup" id="errorPopupDialog" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
    <div data-role="header" data-theme="a">
      <h1>Error</h1>
    </div>
    <div class="ui-content">
      <h3 class="ui-title">__ERROR__</h3> <!-- to be replaced be real error message -->
      <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back" data-transition="flow">Ok</a>
    </div>
  </div>
{% endblock %}{% comment "extra_page_content" %}{% endcomment %}

