<!DOCTYPE html>

{% load competitions_extras %}

<html>
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block titleprefix %}{% endblock %}Woking Squash Rackets Club</title>

  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />

  <link rel="apple-touch-icon" href="/static/images/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" />

  <script src="/static/js/all{% if not debug %}.min{% endif %}.js"></script>

<!-- do not use @media styles with older IE versions -->
<!--[if IE]>
  <link rel="stylesheet" href="/static/css/all_legacy{% if not debug %}.min{% endif %}.css">
<![endif]-->
<!--[if !IE]><!-->
  <link rel="stylesheet" href="/static/css/all_html5{% if not debug %}.min{% endif %}.css" />
 <!--<![endif]-->

  <script>
$( document ).on( "pagecreate", ".wsrc-site", function( event ) {
  var page = $( this );
  $( ".jqm-navmenu-panel ul" ).listview();
  $( ".jqm-navmenu-link" ).on( "click", function() {
    var panel = page.find( ".jqm-navmenu-panel:not(.jqm-panel-page-nav)" ).panel();
    panel.panel( "open" );
  });
});

{% if user.is_authenticated %}
window.WSRC_user_player_id = {% if user.player %}{{ user.player.id }}{% else %}-1{% endif %}
{% endif %}


  </script>
</head>
<body>

<div id="outer_page_div" data-role="page" data-pagetype="{% block pagetype %}{% endblock %}" {% block pageattrs %}{% endblock %} class="wsrc-site">

  <div data-role="header" class="jqm-header">
    <h2><a href="/home"><img src="/static/images/WSRC-banner.jpg" alt="Woking Squash Club"></a></h2>
    <p>{% block pagetitle %}{% endblock %}</p>
    <a href="#" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Menu</a>
    <div class="wsrc-login-block">
    <a href="{% if user.is_authenticated %}#logout_dialog{% else %}/login?next={{ request.get_full_path }}{% endif %}" class="wsrc-login-icon ui-btn ui-btn-icon-notext ui-corner-all ui-icon-user ui-nodisc-icon ui-alt-icon" {% if user.is_authenticated %}data-rel="popup" data-position-to="window"{% else %}data-ajax="false"{% endif %}>Login</a>
    <a href="{% if user.is_authenticated %}/#logout_dialog{% else %}/login?next={{ request.get_full_path }}{% endif %}" class="wsrc-login-textlink" {% if user.is_authenticated %}data-rel="popup" data-position-to="window"{% else %}data-ajax="false"{% endif %}>{% if user.is_authenticated %}{{ user.first_name }}{% else %}Login{% endif %}</a>
    </div>
  </div>

    {% block content %}{% endblock %}

  <!-- left nav menu: -->
  <div data-role="panel" class="jqm-navmenu-panel" data-position="left" data-display="overlay" data-theme="a">
    <ul class="jqm-list ui-alt-icon ui-nodisc-icon">
      <li data-icon="home"><a href="{% url 'homepage' %}" {% if disable_ajax_links %}data-ajax="false"{% endif %}>Home</a></li>
      <li><a href="/about" {% if disable_ajax_links %}data-ajax="false"{% endif %}>About</a></li>
      <li><a href="/membership" {% if disable_ajax_links %}data-ajax="false"{% endif %}>Membership</a></li>
      <li><a href="/coaching" {% if disable_ajax_links %}data-ajax="false"{% endif %}>Coaching</a></li>
      <li><a href="/juniors" {% if disable_ajax_links %}data-ajax="false"{% endif %}>Juniors</a></li>

      <li><a href="{% url 'wsrc.site.competitions.views.boxes_view' %}" {% if disable_ajax_links %}data-ajax="false"{% endif %}>Club Leagues</a></li>

      <li><a href="{% url 'wsrc.site.competitions.views.bracket_view' %}" {% if disable_ajax_links %}data-ajax="false"{% endif %}>Club Tournaments</a></li>

{% if user.is_authenticated %}
      <li><a href="http://court-booking.co.uk/WokingSquashClub/" data-ajax="false">Court Booking</a></li>

      <li><a href="/memberlist">Members' Details</a></li>
{% endif %}

      <li><a href="/credits" data-ajax="false">Credits and Links</a></li>

      <li><a href="/help" data-ajax="false">Help</a></li>

      <li data-filtertext="contact"><a href="/contact" data-ajax="false">Contact Us</a></li>
    </ul>
  </div>

  <div data-role="footer" data-position="fixed" data-tap-toggle="false" class="jqm-footer">
    <div>Woking Squash Rackets Club</div>
    <div class="last_updated">{% block last_updated %}{% endblock %}</div>
  </div>

  <div data-role="popup" id="logout_dialog" data-dismissible="false" style="max-width:400px;">
    <div data-role="header" data-theme="a">
      <h1>Logout</h1>
    </div>
    <div class="ui-content">
      <h3 class="ui-title">Are you sure you want to log out?</h3> <!-- to be replaced be real error message -->
      <a href="/logout?next=/home" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-ajax="false">Ok</a>
      <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back" data-transition="flow">Cancel</a>
    </div>
  </div>
  
  <div data-role="popup" id="errorPopupDialog" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
    <div data-role="header" data-theme="a">
      <h1>Error</h1>
    </div>
    <div class="ui-content">
      <h3 class="ui-title">__ERROR__</h3> <!-- to be replaced be real error message -->
      <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back" data-transition="flow">Ok</a>
    </div>
  </div>

</div><!-- /page -->

</body>
</html>
