{% extends "header_base.html" %}

{% block html_header_extra %}
<script>
$( document ).on( "pagecreate", ".wsrc-site", function( event ) {
  var page = $( this );
  $( ".jqm-navmenu-panel ul" ).listview();
  $( ".menu-link a" ).on( "click", function() {
    var panel = page.find( ".jqm-navmenu-panel:not(.jqm-panel-page-nav)" ).panel();
    panel.panel( "open" );
  });
});
</script>
{% endblock %}{% comment "html_header_extra" %}{% endcomment %}

{% block page_header_classes %}jqm-header{% endblock %}
{% block page_header %}
<div class="centered-content-wrapper">
    <div class="topicon menu-link">
      <a class="centered-icon" href="#"><img src="/static/css/images/bars-white.png" width="14" height="14" alt="Menu"></a>
      <a href="#">Menu</a>
    </div>
    <div class="topicon login-link">
      <a class="centered-icon" href="{% if user.is_authenticated %}#logout_dialog{% else %}/login?next={{ request.get_full_path }}{% endif %}" {% if user.is_authenticated %}data-transition="none"{% else %}data-ajax="false"{% endif %}><img src="/static/css/images/user-white.png" width="14" height="14" alt="Login"></a>
      <a href="{% if user.is_authenticated %}#logout_dialog{% else %}/login?next={{ request.get_full_path }}{% endif %}" {% if user.is_authenticated %}data-transition="none"{% else %}data-ajax="false"{% endif %}>{% if user.is_authenticated %}{{ user.first_name }}{% else %}Login{% endif %}</a>
    </div>
    <p>{% block pagetitle %}{% endblock %}</p>
    <h2 class="large-top-logo"><a href="/home" data-ajax="false" onclick="$.mobile.loading('show')"><img src="/static/images/logo_137x70.png" width="137" height="70" alt="Woking Squash Club"></a></h2>
    <h2 class="small-top-logo"><a href="/home" data-ajax="false" onclick="$.mobile.loading('show')"><img src="/static/images/logo_98x50.png" width="98" height="50" alt="Woking Squash Club" ></a></h2>
</div>
{% endblock %}{% comment "page_header" %}{% endcomment %}

{% block page_content_classes %}jqm-content{% endblock %}
{% block page_content %}
<div class="centered-content-wrapper">
  <!-- left nav menu: -->
  <div data-role="panel" class="jqm-navmenu-panel" data-position="left" data-display="overlay" data-theme="a">
    <ul class="jqm-list ui-alt-icon ui-nodisc-icon">

      <li data-icon="home"><a href="{% url 'homepage' %}" data-ajax="false" onclick="$.mobile.loading('show')">Home</a></li>

      <li data-icon="info"><a href="/about">About</a></li>
      <li><a href="/membership">Membership</a></li>
      <li><a href="/coaching">Coaching</a></li>
      <li><a href="/juniors">Juniors</a></li>
      <li><a href="/social">Social</a></li>

      <li><a href="{% url 'boxes' %}"   data-ajax="false" onclick="$.mobile.loading('show')">Club Leagues</a></li>
      <li><a href="{% url 'tournaments' %}" data-ajax="false" onclick="$.mobile.loading('show')">Club Tournaments</a></li>

      <li data-icon="calendar"><a href="http://court-booking.co.uk/WokingSquashClub/" data-ajax="false" onclick="$.mobile.loading('show')">Court Booking</a></li>
{% if user.is_authenticated %}
      <li data-icon="phone"><a href="{% url 'member_list' %}">Members' Details</a></li>
      <li><a href="/committee">Committee</a></li>
      <li data-icon="shop"><a href="/merchandise">Merchandise</a></li>
      <li data-icon="gear"><a href="{% url 'settings' %}">Settings</a></li>
      <li data-icon="qmark"><a href="/help">Help</a></li>
{% endif %}

      <li data-icon="star"><a href="/links">Links and Credits</a></li>
      <li data-icon="mail"><a href="/contact">Contact Us</a></li>
    </ul>
  </div>

  <div class="nonmenu-content"> 
  {% block centered_page_content %}{% endblock %}
  </div>
</div>
{% endblock %}{% comment "centered-content-wrapper" %}{% endcomment %}

{% block extra_page_content %}
  <div data-role="popup" id="errorPopupDialog" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
    <div data-role="header" data-theme="a">
      <h1>Error</h1>
    </div>
    <div class="ui-content">
      <h3 class="ui-title">__ERROR__</h3> <!-- to be replaced be real error message -->
      <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-b" data-rel="back" data-transition="flow">Ok</a>
    </div>
  </div>
{% endblock %}{% comment "extra_page_content" %}{% endcomment %}

{% block page_footer_classes %}jqm-footer{% endblock %}
{% block page_footer %}
<div class="centered-content-wrapper">
    <div class="last_updated">{% block last_updated %}{% endblock %}</div>
    <div>Woking Squash <span class="small-mobile-hidden">Rackets</span> Club</div>
</div>
{% endblock %}{% comment "page_footer" %}{% endcomment %}

{% block extra_body_content %}
{% if user.is_authenticated %}
<div data-role="page" data-dialog="true" data-position-to="window" id="logout_dialog" data-dismissible="false">
  <div data-role="header" data-theme="a">
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
  </div>
  <div class="ui-content">
    <h3 class="ui-title">What would you like to do?</h3>
    <a href="{% url 'settings' %}" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-a">Settings</a>
    <a href="{% url 'logout' %}?next=/home" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-a" data-ajax="false" onclick="$.mobile.loading('show')">Logout</a>
    <a style="float: right;" href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-a" data-rel="back" data-transition="flow">Cancel</a>
  </div>
</div>
{% endif %}
{% endblock %}{% comment "extra_body_content" %}{% endcomment %}
