<!DOCTYPE html>

<html>
  <head>
{% block html_header %}{% endblock %}
  </head>
  <body>
    <div id="body_header" class="{% block body_header_classes %}{% endblock %}">
{% block body_header %}{% endblock %}
    </div>
    <div id="page_wrapper">
    <div data-role="page" data-pagetype="{% block pagetype %}{% endblock %}" {% block pageattrs %}{% endblock %} class="wsrc-site {% block page_classes %}{% endblock %}">
      <div id="page_header" data-role="header" {% block page_header_attrs %}{% endblock %} class="{% block page_header_classes %}{% endblock %}">
{% block page_header %}{% endblock %}
      </div>
      <div id="page_content" role="main" class="ui-content {% block page_content_classes %}{% endblock %}">
{% block page_content %}{% endblock %}
      </div>
      <div id="page_footer" class="{% block page_footer_classes %}{% endblock %}">
{% block page_footer %}{% endblock %}
      </div>
{% block extra_page_content %}{% endblock %}
    </div>
{% block extra_body_content %}{% endblock %}
    </div>
    <div class="clear-all"></div>
    <div id="body_footer" class="{% block body_footer_classes %}{% endblock %}">
{% block body_footer %}{% endblock %}
    </div>
  </body>
</html>
