{% extends "06_wsrc_navigation.html" %}
{% block pagetitle %}Courts{% endblock %}
{% block html_header_extra %}
{{ block.super }}
{% if booking_user_id %}
<script>
window.WSRC_booking_user_id = {{ booking_user_id }};
window.WSRC_booking_user_name = "{{ booking_user_name }}";
window.WSRC_booking_user_auth_token = "{{ booking_user_auth_token }}";
</script>
{% endif %}
{% endblock %}
{% load wsrc_utils %}
{% block centered_page_content %}

<form>
  <div id="booking_datepicker_container" >
  <div class="ui-input-text ui-body-inherit ui-corner-all ui-alt-icon  ui-icon-calendar ui-btn-icon-left">
    <input type="text" class="date-input" data-enhanced="true" readonly="readonly">
  </div>
  <div data-role="controlgroup" data-type="horizontal">
    <a class="ui-btn ui-alt-icon ui-btn-icon-left  ui-btn-inline ui-icon-carat-l previous">Prev.</a>
    <a class="ui-btn ui-alt-icon ui-btn-icon-left  ui-btn-inline ui-icon-refresh refresh">Refresh</a>
    <a class="ui-btn ui-alt-icon ui-btn-icon-right ui-btn-inline ui-icon-carat-r next">Next</a>
  </div>
  </div>
</form>

<div id="booking_header" class="toggle-root">
  <div><a href="#" class="togglable compact">(compact view)</a></div>
  <div><a href="#" class="toggled full">(show all)</a></div>
</div>

<table class="booking_day">
  <thead>
    <tr>
      <td class="time-col"></td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div id="booking_footer">
<div class="date"></div>
<div class="toggler"></div>
</div>

<div data-role="popup" id="booking_tooltip" class="ui-content toggle-root" data-theme="a" style="max-width:350px;">
  <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right cancel">Close</a>
  <form action="#" method="GET">
    <input type="hidden" name="id" value=""/>
    <table>
      <tbody>
        <tr>
          <td>Name:</td>
          <td>
            <span class="togglable"></span>
            <div class="toggled"><input name="name" type="text" readonly="readonly" disabled="disabled"></div>
          </td>
        </tr>
        <tr>
          <td>Description:</td>
          <td>
            <span class="togglable"></span>
            <div class="toggled"><input name="description" type="text"></div>
          </td>
        </tr>
        <tr>
          <td>Court:</td>
          <td>
            <span class="togglable"></span>
            <div class="toggled">
              <select name="court" readonly="readonly" disabled="disabled">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>Time:</td>
          <td>
            <span class="togglable"></span>
            <div class="toggled">
              <select name="start_mins" readonly="readonly" disabled="disabled">
                {% for mins in starts %}
                <option value="{{ mins }}">{{ mins|mins_to_time_str }}</option>
                {% endfor %}
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>Duration:</td>     
          <td>
            <span class="togglable"></span>
            <div class="toggled">
              <select name="duration_mins" readonly="readonly" disabled="disabled">
                {% for mins in durations %}
                <option value="{{ mins }}">{{ mins|mins_to_duration_str }}</option>
                {% endfor %}
              </select>
            </div>
          </td>
        </tr>
        <tr class="togglable1">
          <td>Type:</td>
          <td>
            <span class="togglable"></span>
            <div class="toggled">
              <select name="type" readonly="readonly" disabled="disabled">
                <option value="I" selected="selected">Member</option>
                <option value="E">Club</option>
              </select>
            </div>
         </td>
        </tr>
        <tr class="togglable"><td>Created By:</td>   <td><span></span><input type="hidden" name="created_by"/></td></tr>
        <tr class="togglable"><td>Last Updated:</td> <td><span></span><input type="hidden" name="timestamp"/></td></tr>
      </tbody>
    </table>
  </form>
  <div class="inline-buttons">
    <button class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-btn-icon-left ui-icon-check update toggled">Submit</button>
    <button class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-btn-icon-left ui-btn-inline ui-icon-delete delete togglable">Delete</button>
    <button class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-btn-icon-left ui-btn-inline ui-icon-edit align-right edit togglable">Edit</button>
  </div>
</div>

<form>
{% csrf_token %}
</form>

<script>
window.WSRC_court_bookings = {{ bookings|safe }};
window.WSRC_court_bookings_date = '{{ date|date:"Y-m-d" }}';
window.WSRC_court_bookings_url = '{{ booking_system_url }}';
wsrc.court_booking.onReady(WSRC_court_bookings, WSRC_court_bookings_date, WSRC_court_bookings_url);
</script>


{% endblock %}
