<div class="form-group {% if field.errors %}has-error{% endif %}">
  {% if label %}
  <label class="col-sm-3 control-label" for="{{ field.id_for_label }}">{{ label }}:</label>
  {% else %}
  <span class="col-sm-3 control-label">{{ field.label_tag }}</span>
  {% endif %}
  <div class="col-sm-9">
    {{ field }}
    {% if help_text or field.help_text %}
    <span class="help-block small">{% if help_text %}{{ help_text|safe }}{% else %}{{ field.help_text|safe }}{% endif %}</span>
    {% endif %}
    {% if field.errors %}
    <span class="help-block">{% for err in field.errors %}{{ err }}. {% endfor %}</span>
    {% endif %}
  </div>
</div>
