{% load kwacros %}

{% kwacro createfield field add_submit_button submit_button_value="Go" class_wrapper="ui-field-contain" %}
<div class="{{ class_wrapper }} {% if field.errors %}field-error{% endif %}"
{% if field.help_text %}title="{{ field.help_text|safe }}"{% endif %}
     >{{ field.label_tag }}{{ field }}
{% if field.errors %}<div class="clear-all"></div><label>&nbsp;</label><span class="field-error">{% for err in field.errors %}{{ err }}. {% endfor %}</span>{% endif %}
{% if add_submit_button %}
<input type="submit" value="{{ submit_button_value }}" />
{% endif %}
</div>
{% endkwacro %}

{% kwacro createradiofield field %}
<div class="ui-field-contain {% if field.errors %}field-error{% endif %}"
{% if field.errors %}title="{% for err in field.errors %}{{ err }}. {% endfor %}"{% endif %}
>
    <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>{{ field.label }}:</legend>
{% for radio in field %}
    {{ radio }}
{% endfor %}
    </fieldset>
{% if field.errors %}<div class="clear-all"></div><label>&nbsp;</label><span class="field-error">{% for err in field.errors %}{{ err }}. {% endfor %}</span>{% endif %}
</div>
{% endkwacro %}

{% kwacro createfield_adhoc label name id class onchange%}
<div class="ui-field-contain">
  <label for="{{ id }}" class="{{ class }}">{{ label }}:</label><input name="{{ name  }}" id="{{ id }}" class="{{ class }}" onchange="{{ onchange }}">
</div>
{% endkwacro %}

{% kwacro createfield_helptext field %}
  <div class="ui-field-contain">
    {{ field.label_tag }}{{ field }}
{% if field.errors %}<div class="clear-all"></div><label>&nbsp;</label><span class="field-error">{% for err in field.errors %}{{ err }}. {% endfor %}</span>{% endif %}
    <div class="clear-all"></div><label class="empty">&nbsp;</label><div class="helptext ui-dummy">{{ field.help_text|safe }}</div>
  </div>
{% endkwacro %}
