{% extends "base.html" %}
{% block titleprefix %}{{ pagedata.title|capfirst }} - {% endblock %}
{% block pagetitle %}{{ pagedata.title|capfirst }}{% endblock %}
{% block pagetype %}{{ pagedata.title|lower }}{% endblock %}
{% block content %}

<div role="main" class="ui-content jqm-content {{ pagedata.title|lower }}">
  <div id="main_div"> 

{{ pagedata.content|safe }}

  </div>
</div>
{% endblock %}

{% block last_updated %}
last updated: {{ pagedata.last_updated|date:"d M Y" }}
{% endblock %}

