{% extends "base.html" %}
{% block pagetitle %}Home{% endblock %}
{% block pagetype %}home{% endblock %}
{% block content %}


<div role="main" class="ui-content jqm-content">
  <div id="main_div"> 

  {{ pagedata.content|safe }}

  <div class="ui-grid-a ui-responsive">
    <div class="ui-block-a">
      <div class="jqm-block-content">
        <h3>Facebook&nbsp;News</h3>
        <div>
          <table id="facebook_news">
            <tbody>
            </tbody>
          </table>
          <p style="display:None;"> </p>
        </div>
      </div>
    </div>
    <div class="ui-block-b">
      <div class="jqm-block-content">
        <h3>Evening&nbsp;Courts</h3>
        <div class="headed-box">
          <div class="ui-bar ui-bar-a" data-role="header" data-position="inline">
            <h4>Today</h4>
            {% if user.is_authenticated %}
            <a id="link-{{ box_config.id }}" href="#boxDetailDialog" class="ui-btn ui-icon-arrow-l ui-btn-icon-notext ui-corner-all ui-btn-left" style="display:none;" onclick="">
            </a>
            <a id="link-{{ box_config.id }}" href="#boxDetailDialog" class="ui-btn ui-icon-arrow-r ui-btn-icon-notext ui-corner-all ui-btn-right" onclick="">
            </a>
            {% endif %}
          </div>
          <div class="ui-body">
            <table>
{% for row in bookings %}
<tr class="{% cycle 'odd' 'even' %}"><td>{{ row.start_time|date:"H:i" }}&ndash;{{ row.end_time|date:"H:i" }}</td><td>{% if row.description = "_" %}<a href="">(available)</a>{% else %}{{ row.description }}{% endif %}</td><td>ct.&nbsp;{{ row.court }}</td></tr>
{% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-block-a">
      <div class="jqm-block-content">
        <h3>Surrey&nbsp;Leagues</h3>
        <div>
<table>
{% for row in leaguemaster %}
<tr class="{% cycle 'odd' 'even' %}" id="leaguemaster_{{ forloop.counter0 }}">
<td>{{ row.date|date:"d/m" }} ({{ row.home_or_away }})</td>
<td>{{ row.team }}</td>
<td>{{ row.opponents }}</td>
<td class="{{ row.class }}{% if not row.points %} empty{% endif %}">{% if row.points %}{{ row.scores|safe }} ({{ row.points|safe }}){% endif %}</td></tr>
{% endfor %}
</table>
<form style="display:None;">
<input type="hidden" name="leaguemaster_last_result_idx", id="leaguemaster_last_result_idx" value="{{ leaguemaster_last_result_idx }}">
</form>
        </div>
      </div>
    </div>
    <div class="ui-block-b">
      <div class="jqm-block-content">
        <h3>SquashLevels</h3>
        <div>
<table>
{% for row in squashlevels %}
<tr class="{% cycle 'odd' 'even' %}"><td>{{ row.name }}</td><td>{{ row.level }}</td></tr>
{% endfor %}
</table>
        </div>
      </div>
    </div>        	
  </div>
  </div>
</div>

<script>
$( document ).on( "pagecontainershow", ".wsrc-site", function( event ) {
  var last = document.getElementById("leaguemaster_{{ leaguemaster_last_result_idx|add:'-5' }}");
  if (last != null && last.scrollIntoView != undefined)
    last.scrollIntoView();
  WSRC.onIndexPageShow();
})
</script>

{% endblock %}

