{% extends "base.html" %}
{% block pagetitle %}Home{% endblock %}
{% block pagename %}home{% endblock %}
{% block content %}


<div role="main" class="ui-content jqm-content">

  {{ pagedata.content|safe }}

  <div class="ui-grid-a ui-responsive">
    <div class="ui-block-a">
      <div class="jqm-block-content">
        <h3>News <span class="link">(<a href="https://www.facebook.com/WokingSquash">Facebook&nbsp;Wall</a>)</span></h3>
        <div>
<table id="facebook_news">
<tbody>
</tbody>
</table>
        </div>
      </div>
    </div>
    <div class="ui-block-b">
      <div class="jqm-block-content">
        <h3>Evening Courts</h3>
        <div class="headed-box">
          <div class="ui-bar ui-bar-a" data-role="header" data-position="inline">
            <h4>Today</h4>
            {% if user.is_authenticated %}
            <a id="link-{{ box_config.id }}" href="#boxDetailDialog" class="ui-btn ui-icon-arrow-l ui-btn-icon-notext ui-corner-all ui-btn-left" style="display:none;" onclick="">
            </a>
            <a id="link-{{ box_config.id }}" href="#boxDetailDialog" class="ui-btn ui-icon-arrow-r ui-btn-icon-notext ui-corner-all ui-btn-right" onclick="">
            </a>
            {% endif %}
          </div>
          <div class="ui-body">
            <table>
{% for row in bookings %}
<tr class="{% cycle 'odd' 'even' %}"><td>{{ row.start_time|date:"H:i" }}&ndash;{{ row.end_time|date:"H:i" }}</td><td>{{ row.description }}</td><td>ct.&nbsp;{{ row.court }}</td></tr>
{% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-block-a">
      <div class="jqm-block-content">
        <h3>Winter&nbsp;League <span class="link">(<a href="http://county.leaguemaster.co.uk/">Surrey SRA</a>)</span></h3>
        <div>
<table>
{% for row in leaguemaster %}
<tr class="{% cycle 'odd' 'even' %}" id="leaguemaster_{{ forloop.counter0 }}">
<td>{{ row.date|date:"d/m" }} ({{ row.home_or_away }})</td>
<td>{{ row.team }}</td>
<td>{{ row.opponents }}</td>
<td class="{{ row.class }}{% if not row.points %} empty{% endif %}">{% if row.points %}{{ row.scores|safe }} ({{ row.points|safe }}){% endif %}</td></tr>
{% endfor %}
</table>
<script>
$(document).on("ready", function(){
  var last = document.getElementById("leaguemaster_{{ leaguemaster_last_result_idx|add:'-5' }}");
  if (last != null && last.scrollIntoView != undefined)
    last.scrollIntoView();
});
</script>
        </div>
      </div>
    </div>
    <div class="ui-block-b">
      <div class="jqm-block-content">
        <h3>Rankings <span class="link">(<a href="http://squashlevels.com">SquashLevels.com</a>)</span></h3>
        <div>
<table>
{% for row in squashlevels %}
<tr class="{% cycle 'odd' 'even' %}"><td>{{ row.name }}</td><td>{{ row.level }}</td></tr>
{% endfor %}
</table>
        </div>
      </div>
    </div>        	
  </div>
</div>

<script>
function cycleImages(){
    var $active = $('#cycler .active');
    var $next = ($active.next().length > 0) ? $active.next() : $('#cycler img:first');
    $next.css('z-index',2).fadeIn(1500);
    $active.fadeOut(1500,function(){//fade out the top image
      $active.css('z-index',1).removeClass('active').hide();//reset the z-index and unhide the image
      $next.css('z-index',3).addClass('active');//make the next image the top one
    });
  }
$( document ).on( "pagecontainershow", ".wsrc-site", function( event ) {
  if (! window.cycleimages_id) {
    window.cycleimages_id = setInterval('cycleImages()', 7000);
  }
  WSRC.onIndexPageShow();
})
$( document ).on( "pagebeforehide", ".wsrc-site", function( event ) {
  if (window.cycleimages_id) {
    clearInterval(window.cycleimages_id);
    window.cycleimages_id = null;
  }
})
</script>

{% endblock %}

