{% extends "base.html" %}
{% block pagetitle %}Home{% endblock %}
{% block pagetype %}home{% endblock %}
{% block content %}


<div role="main" class="ui-content jqm-content">
  <div id="main_div"> 

  {{ pagedata.content|safe }}

  <div class="ui-grid-a ui-responsive">
    <div class="ui-block-a">
      <div class="jqm-block-content">
        <h3>Facebook&nbsp;News</h3>
        <div class="restricted">
          <table id="facebook_news">
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="ui-block-b">
      <div class="jqm-block-content">
        <h3>Evening&nbsp;Courts</h3>
        <div class="headed-box restricted">
          <div class="ui-bar ui-bar-a" data-role="header" data-position="inline">
            <h4>Today</h4>
            {% if user.is_authenticated %}
            <a id="link-{{ box_config.id }}" href="#boxDetailDialog" class="ui-btn ui-icon-arrow-l ui-btn-icon-notext ui-corner-all ui-btn-left" style="display:none;" onclick="">
            </a>
            <a id="link-{{ box_config.id }}" href="#boxDetailDialog" class="ui-btn ui-icon-arrow-r ui-btn-icon-notext ui-corner-all ui-btn-right" onclick="">
            </a>
            {% endif %}
          </div>
          <div class="ui-body">
            <table>
{% for row in bookings %}
<tr class="{% cycle 'odd' 'even' %}"><td>{{ row.start_time|date:"H:i" }}&ndash;{{ row.end_time|date:"H:i" }}</td><td>{% if row.description == "_" %}{% if user.is_authenticated %}<a href="http://www.court-booking.co.uk/WokingSquashClub/edit_entry_fixed.php?room={{ row.court }}&area=1&hour={{ row.start_time|date:'H' }}&minute={{ row.start_time|date:'i' }}&year={{ row.start_time|date:'Y' }}&month={{ row.start_time|date:'m' }}&day={{ row.start_time|date:'d' }}">(available)</a>{% endif %}{% else %}{{ row.description }}{% endif %}</td><td>ct.&nbsp;{{ row.court }}</td></tr>
{% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-block-a">
      <div class="jqm-block-content toggle-root">
        <h3>Team Results</h3>
        <div class="restricted-with-footnote">
          <table>
{% for row in leaguemaster %}
<tr class="{% cycle 'odd' 'even' %} {% if forloop.counter0 < leaguemaster_recent_min_idx or forloop.counter0 > leaguemaster_recent_max_idx %}toggled{% endif %}">
<td>{{ row.date|date:"d/m" }} ({{ row.home_or_away }})</td>
<td>{{ row.team }}</td>
<td>{{ row.opponents }}</td>
<td class="{{ row.class }}{% if not row.points %} empty{% endif %}">{% if row.points %}{{ row.scores|safe }} ({{ row.points|safe }}){% endif %}</td></tr>
{% endfor %}
          </table>
        </div>
        <div class="footnote togglable toggle-link"><a href="#">(see all)</a></div>
        <div class="footnote toggled toggle-link"><a href="#">(recent)</a></div>
      </div>
    </div>
    <div class="ui-block-b">
      <div class="jqm-block-content toggle-root">
        <h3>SquashLevels</h3>
        <div class="restricted-with-footnote">
          <table>
{% for row in squashlevels %}
<tr class="{% cycle 'odd' 'even' %} {% if forloop.counter > 10 %}toggled{% endif %}"><td>{{ row.name }}</td><td>{{ row.level }}</td></tr>
{% endfor %}
          </table>
        </div>
        <div class="footnote togglable toggle-link"><a href="#">(see all)</a></div>
        <div class="footnote toggled toggle-link"><a href="#">(top 10)</a></div>
      </div>
    </div>        	
  </div>
  </div>
</div>

<script>
$( document ).on( "pagecontainershow", ".wsrc-site", function( event ) {
  var last = document.getElementById("leaguemaster_{{ leaguemaster_last_result_idx|add:'-5' }}");
  if (last != null && last.scrollIntoView != undefined)
    last.scrollIntoView();
  WSRC.onIndexPageShow();
})
</script>

{% endblock %}

