{% extends "03_bootstrap_page_structure.html" %}

{% block html_header_extra %}
{{ block.super }}
<meta name="robots" content="noindex" />
<style>
 body {
     background-color: #eee;
 }
 .form-signin {
     max-width: 330px;
     padding: 15px;
     margin: 40px auto 0 auto;
 }
 .form-signin .form-signin-heading,
 .form-signin .checkbox {
     margin-bottom: 10px;
 }
 .form-signin .checkbox {
     font-weight: normal;
 }
 .form-signin .form-control {
     position: relative;
     height: auto;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     padding: 10px;
     font-size: 16px;
 }
 .form-signin .form-control:focus {
     z-index: 2;
 }
 .form-signin input[type="email"] {
     margin-bottom: -1px;
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;
 }
 .form-signin input[type="password"] {
     margin-bottom: 10px;
     border-top-left-radius: 0;
     border-top-right-radius: 0;
 }
 #tr_logo {
     position: absolute;
     top: 15px;
     left: 15px;
 }
 .form-signin > .well {
     margin-top: 15px;
 }
 .login-settings {
     position: absolute;
     bottom: 10px;
     left: 10px;
 }
</style>  
{% endblock %}

{% block titleprefix %}Login - {% endblock %}

{% block centered_page_content %}
<a href="{% url 'homepage' %}">
  <img id="tr_logo" alt="WSRC ball logo" src="/static/images/ball_logo_180x180.png" class="hidden-xs hidden-sm" />
</a>
<form class="form-signin" method="post">{% csrf_token %}
  
  {% if form.errors %}
  <div class="alert alert-danger" role="alert">
    Invalid username or password.<br />
    Please try again.
  </div>
  {% else %}
  <h2 class="form-signin-heading">Please sign in</h2>
  {% endif %}
  
  <label for="{{ form.username.id_for_label }}" class="sr-only">Username</label>
  <input name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" class="form-control" placeholder="Username" required="" {% if not last_username %}autofocus=""{% endif %} value="{{ last_username }}">
  <label for="{{ form.password.id_for_label }}" class="sr-only">Password</label>
  <input name="{{ form.password.name }}" type="password" id="{{ form.password.id_for_label }}" class="form-control" placeholder="Password" required="" {% if last_username %}autofocus=""{% endif %}>
  <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'homepage' %}{% endif %}" />
  <input type="hidden" name="current_username" value="{{ user.username }}" />
{% if not disable_remember_username %}
  <div class="checkbox">
    <label>
      <input type="checkbox" name="remember_username" {% if remember_username %}checked="checked"{% endif %}> Remember my username
    </label>
  </div>
  {% endif %}
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <div class="well">Forgotten your username or password?<br /><a href="/password/reset/">Click here to reset</a>.</div>

{% if show_auto_logout_settings %}
  <fieldset class="login-settings">
    <legend>Login Settings</legend>
    <div class="form-group" >
      <label class="" for="session_timeout">Session Timeout (seconds):</label>
      <div class="">
        <input class="form-control" name="session_timeout" id="session_timeout" value="{{ session_timeout|default_if_none:'' }}" onchange="update_cookie(this, 'session_timeout');">
      </div>
    </div>
    <div class="form-group">   
      <label for="disable_remember_username">Remember Username:</label>
      <div class="">
      <select class="form-control" name="disable_remember_username" id="disable_remember_username" onchange="update_cookie(this, 'disable_remember_username');">
        <option value="">Enabled</option>
        <option value="1" {% if disable_remember_username %}selected="selected"{% endif %}>Disabled</option>
      </select>
      </div>
    </div>
  </fieldset>
{% endif %}
  
</form>
{% endblock %}



{% block body_script_extra %}
{% if show_auto_logout_settings %}
<script>
 function update_cookie(elt, name) {
     var value = parseInt($(elt).val())
     if (isNaN(value) || value == 0) {
         $(elt).val("")
         document.cookie = name + "=\"\";expires=-1"
     } else {
         document.cookie = name + "=" + value
     }
 }
</script>
{% endif %}
{% endblock %}
