{% extends "04_wsrc_header.html" %}

{% load kwacros %}
{% loadkwacros 'form_macros.html' %}

{% block titleprefix %}Login - {% endblock %}
{% block pagetype %}login{% endblock %}

{% block page_content %}

<div class="ui-popup ui-body-inherit ui-overlay-shadow ui-corner-all centered-dialog">
 <div data-role="header" data-theme="a">
  <h2>Login</h2>
  <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
 </div>

{% if form.errors %}
<div class="form_errors">
 <span class="form_error_message ui-btn-icon ui-btn-icon-left ui-icon-alert" style="display: inline; padding-left: 2em;">
Invalid username/password.
 </span>
 <p>Please try again or <a href="/password/reset/" class="form_error_message" data-ajax="false" style="text-decoration: underline;">reset your password</a>.</p>
{% endif %}

 <form id="login_form" class="dialog-form" method="post" action="" data-ajax="false">{% csrf_token %}
  <fieldset name="password_details">
{% usekwacro createfield form.username %}
{% usekwacro createfield form.password %}
  </fieldset>
  <input type="submit" value="Go" data-theme="b"></input>
  <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'homepage' %}{% endif %}" />
  <input type="hidden" name="current_username" value="{{ user.username }}" />
  <script type="text/javascript">document.getElementById("id_username").focus();</script>
 </form>
</div>

{% endblock %}
