{% extends "header_base.html" %}

{% load kwacros %}
{% loadkwacros 'form_macros.html' %}

{% block titleprefix %}Login - {% endblock %}

{% block body %}
<div data-role="page" data-dialog="true" data-position-to="window">
  <div data-role="header" data-theme="a">
    <h1>Login</h1>
  </div>
  <div class="ui-content">

{% if form.errors %}
    <span class="form_error_message ui-btn-icon ui-btn-icon-left ui-icon-alert">
Invalid username/password. Please try again.
    </span>
{% endif %}

<form method="post" action="" data-ajax="false">{% csrf_token %}

<fieldset name="password_details">
{% usekwacro createfield form.username %}
{% usekwacro createfield form.password %}
</fieldset>

<input type="submit" value="Log in" data-theme="b"></input>
<input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'homepage' %}{% endif %}" />
<script type="text/javascript">document.getElementById("id_username").focus();</script>
</form>

  </div>
</div>
{% endblock %}
