<!DOCTYPE html>

<html class="mailshot">
<head>

  <link rel="stylesheet" href="/static/css/all_mailshot.css">
  <script src="/static/js/all_admin_mailshot.js"></script>

  <title>Mailshot Admin Form - Woking Squash Rackets Club</title>

  <script type="text/javascript">
var players  = {{ players|safe }};
var box_player_ids  = [{{ box_player_ids|join:',' }}];
var tournament_player_ids  = [{{ tournament_player_ids|join:',' }}];

jQuery(document).ready(function(){wsrc.admin.mailshot.onReady(players, box_player_ids, tournament_player_ids)});
  </script>

</head>
<body>
  <header>
    <a href="/home"><img  src="/static/images/apple-touch-icon-114x114.png" alt="Woking Squash Club"></a>
  </header>

  <div class="ui-widget ui-corner-all">

    <fieldset class="ui-widget-content  ui-corner-all">
      <legend>Email Settings</legend>
      <div class="ui-field-contain">
        <label for="from_input">From: </label>
        <select name="from_input" value="from" onclick="">
          {% for m in from_email_addresses %}
          <option value="{{ m }}" {% if m == "committee@wokingsquashclub.org" %}selected="selected"{% endif %}>{{ m }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="ui-field-contain">
        <label for="subject">Subject: </label>
        <input type="text" id="subject" name="subject">
      </div>
      <div class="ui-field-contain">
        <label for="email_format" class="tall_label">Format<sup>&dagger;</sup>: </label>
        <input type="radio" name="email_format" value="mixed" checked="checked" id="email_format">HTML &amp; Plain Text (Multipart)
        <input type="radio" name="email_format" value="html">HTML Only
        <input type="radio" name="email_format" value="text">Plain Text Only
      </div>
    </fieldset>

    <fieldset class="ui-widget-content  ui-corner-all">
      <legend>Recipients</legend>
      <div class="ui-field-contain">
        <label for="recipient_selector">Selection Type: </label>
        <select id="recipient_selector" name="recipient_selector" onclick="wsrc.admin.mailshot.on('recipient_selector_changed', this);">
          <option value="all">All</option>
          <option value="individuals" selected="selected">Individuals</option>
          <option value="member_type">Membership Category</option>
          <option value="competition_entrants">Competition Entrants</option>
        </select>
      </div>
      <div  id="individuals" class="ui-field-contain selection-type">
        <form action="#" onsubmit="wsrc.admin.mailshot.on('add_individual', this); return false;">{% csrf_token %}
          <label for="add_member">Individuals: </label>
          <input type="text" id="add_member">
          <input type="button" id="add_member_button" value="Add" onclick="wsrc.admin.mailshot.on('add_individual', this.form)">
          <input type="button" id="add_member_button" value="Clear All" onclick="wsrc.admin.mailshot.on('clear_individuals', this.form)">
        </form>
      </div>
      <div id="member_type" class="ui-field-contain ui-helper-hidden selection-type">
        <label for="member_type">Category: </label>
        {% for sub_type in subscription_types %}
        <input type="checkbox" name="member_type" value="{{ sub_type.id }}">{{ sub_type.name }}</input>
        {% endfor %}
      </div>
      <div id="competition_entrants" class="ui-field-contain ui-helper-hidden selection-type">
        <label for="member_type">Competitions: </label>
        <input type="checkbox" name="comp_type" value="tournament">Tournaments</input>
        <input type="checkbox" name="comp_type" value="box">Leagues</input>
      </div>
      <div class="ui-field-contain">
        <label for="respect_opt_out" class="tall_label">Respect Opt-outs<sup>&Dagger;</sup>: </label>
        <input type="radio" name="respect_opt_out" value="true" checked="checked" id="respect_opt_out">Yes
        <input type="radio" name="respect_opt_out" value="false">No
      </div>
      <span id="totals">0 members, 0 members with valid email, 0 distinct email addresses</span>

    </fieldset>

    <fieldset class="ui-widget-content  ui-corner-all">
      <legend>Email Body</legend>
      <textarea id="email_body" name="email_body">







---
*We hope you enjoy receiving e-mail notices and updates from the club. If you do not wish to receive these e-mail messages, please log into the [settings page](http://www.wokingsquashclub.org/settings) and set "Receive Email" to "No".*  </textarea>
      <input id="send_button" type="button" value="Send" onclick="wsrc.admin.mailshot.on('send_email')">
    </fieldset>

    
  <footer>
    <hr>
    <p>
      &dagger; Bulk emails should normally be multipart format - this ensures that they will be readable on the widest range of devices, and stand a better chance of passing anti-spam filters. In this case, the body should be written using <a href="http://en.wikipedia.org/wiki/Markdown">Markdown</a> syntax&mdash;it will appear as written in plain-text email clients, and as enhanced HTML in modern email programs.
    </p>
    <p>
        &Dagger; Please do not uncheck this unless it is really justified. If so, delete the opt-out text at the bottom of the email body.
    </p>
  </footer>
  </div>

 <div id="selected_member_table" title="Selected Members" class="ui-helper-hidden">
   <table>
     <tbody>
       <tr class="header-row">
         <th>Name</th><th>Email</th><th>Type</th><th>Receive Email?</th>
       <tr>
     </tbody>
   </table>
 </div>

</body>
</html>
