{% extends "base.html" %}
{% block titleprefix %}Member List - {% endblock %}
{% block pagetitle %}Member List{% endblock %}
{% block pagetype %}memberlist{% endblock %}
{% block content %}

<div role="main" class="ui-content jqm-content">
  <div id="main_div"> 
    <div class="wsrc-member-list">
      <form>
        <input id="filterTable-input" data-type="search" placeholder="Search . . .">
      </form>
      <table class="wsrc-member-list" data-role="table" data-filter="true" data-input="#filterTable-input">
        <thead>
          <tr><th>Name</th><th>E-Mail</th><th>Telephone</th><th>Mobile</th></tr>
        </thead>
        <tbody>
{% for member in object_list %}
<tr class=""><td>{{ member.get_full_name }}</td><td><a href="mailto:{{ member.user.email }}">{{ member.user.email }}</a></td><td><a href="tel:{{ member.other_phone }}">{{ member.other_phone }}</a></td><td><a href="sms:{{ member.cell_phone }}">{{ member.cell_phone }}</a></td></tr>
{% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block last_updated %}
last updated: {{ pagedata.last_updated|date:"d M Y" }}
{% endblock %}
