{% extends "header_base.html" %}

{% block titleprefix %}Password Changed - {% endblock %}
{% block pagetype %}password_change{% endblock %}

{% block pageattrs %}data-dialog="true" data-position-to="window" {% endblock %}
{% block page_header_attrs %}data-theme="a"{% endblock %}
{% block body %}
{% block page_header %}
    <h1>Success</h1>
{% endblock %}

{% block page_content %}
    <p>Your password was changed.</p>

    <a href="{% url 'settings' %}" class="ui-btn ui-shadow ui-corner-all">Ok</a>
{% endblock %}
