{% extends "header_base.html" %}

{% load kwacros %}
{% loadkwacros 'form_macros.html' %}

{% block titleprefix %}Change Password - {% endblock %}
{% block pagetype %}password_change{% endblock %}

{% block pageattrs %}data-dialog="true" data-position-to="window" {% endblock %}
{% block page_header_attrs %}data-theme="a"{% endblock %}
{% block page_header %}
    <h1>Change Password</h1>
{% endblock %}

{% block page_content %}
{% if form.errors %}
    <span class="form_error_message ui-btn-icon ui-btn-icon-left ui-icon-alert">Validation Error. 
    Please try again.
    </span>
{% endif %}

<form action="" method="post" data-ajax="false">{% csrf_token %}

<p>{{ user.first_name }}, please enter your old password, and then enter your new password twice so we can verify you typed it in correctly.</p>

<fieldset name="password_details">

{% usekwacro createfield form.old_password %}
{% usekwacro createfield form.new_password1 %}
{% usekwacro createfield form.new_password2 %}

</fieldset>

<input type="submit" value="Update" data-theme="b"></input>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</form>

  </div>
</div>

{% endblock %}
