{% extends "base.html" %}
{% block pagetitle %}Settings{% endblock %}
{% load kwacros %}
{% loadkwacros 'form_macros.html' %}
{% block content %}

<div role="main" class="ui-content jqm-content">
<form method="post" action="{% url 'wsrc.site.views.settings_view' %}" data-ajax="false" class="settings-form">
{% csrf_token %}

{% if form_saved %}
<span class="form_success_message">Settings saved.</span>
{% endif %}

{% if user_form.errors or player_form.errors %}
<span class="form_error_message ui-btn-icon ui-btn-icon-left ui-icon-alert">Validation Error. Please correct the problem(s) below and resubmit.</span>

{% for err in user_form.non_field_errors %}
  <div class="form_error_message">{{ err }}</div>
{% endfor %}

{% for err in player_form.non_field_errors %}
  <div class="form_error_message">{{ err }}</div>
{% endfor %}

{% endif %}

<input type="hidden" name="next" value="{% url 'wsrc.site.views.settings_view' %}" />
<fieldset name="login_details">
<legend>Login</legend>
{% usekwacro createfield user_form.username %}
<div class="ui-field-contain">
 <label>Password:</label>
 <label><input id="id_password" type="checkbox" checked="checked" onclick="document.location='{% url 'password_change' %}'; this.checked=true; return false;"> Set (click to change)</label>
</div>
</fieldset>

<fieldset name="personal_details">
<legend>Personal Details</legend>
{% usekwacro createfield user_form.first_name %}
{% usekwacro createfield user_form.last_name %}
{% usekwacro createfield player_form.short_name %}
</fieldset>

<fieldset name="contact_details">
<legend>Contact Details</legend>
{% usekwacro createfield user_form.email %}
{% usekwacro createfield player_form.cell_phone %}
{% usekwacro createfield player_form.other_phone %}
</fieldset>

<fieldset name="external_sites">
<legend>External Websites</legend>
{% usekwacro createfield player_form.squashlevels_id %}
</fieldset>

<input id="submit_button" type="submit" value="Update" data-theme="b"></input>

</form>
</div>
{% endblock %}
