{% extends "06_wsrc_navigation.html" %}
{% block titleprefix %}Suggestion Box - {% endblock %}

{% block html_header_extra %}
<meta name="robots" content="noindex" />
{{ block.super }}
<style>
 td > span {
     padding-right: 5px;
 }
</style>
{% endblock %}

{% block centered_page_content %}

<h3>Suggestion Box</h3>
<div class="well">
  <p>
    The management committee reviews all new suggestions at committee meetings, held every 1&ndash;2 months. To submit your idea, click below.
  </p>
  <a href='{% url 'create_suggestion' %}' class="btn btn-primary">Make a Suggestion</a>
  <div class="clearfix"></div>
</div>

<table class="table table-striped table-compact table-reflow">
  <thead>
    <tr><th>Suggestion</th><th>Made By</th><th>On</th><th>Reviewed</th><th>Response</th></tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <td><span>Suggestion: </span>{{ row.description }}</td>
      <td><span>Made By: </span>{{ row.suggester.user.get_full_name }}</td>
      <td><span>On: </span>{{ row.submitted_date|date:'d M Y' }}</td>
      <td><span>Reviewed: </span>{{ row.reviewed_date|date:'d M Y' }}</td>
      <td><span>Response: </span>{{ row.comment|default:"" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
