<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="/static/css/all_accounts.css">
  <script src="/static/js/all_admin_accounts.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <title>Account Management - Woking Squash Rackets Club</title>

  <script type="text/javascript">
jQuery(document).ready(function(){
  var categories = {{ categories_data|safe }};
  var accounts = {
{% for id, transaction_data in account_data.items %}
  {{ id }}: {{ transaction_data|safe }},
{% endfor %}
  };
  wsrc.admin.accounts.onReady(categories, accounts, {{ subs_category.id }})
});
  </script>

</head>
{% load wsrc_utils %}

<body>
  <div id="tabs" class="initiallyHidden">
    <ul>
      <li><a href="#transactions_tab">Transactions</a></li>
      <li><a href="#chart_balances_tab">Balances</a></li>
      <li><a href="#chart_comparables_tab">YoY Comparison</a></li>
      <li><a href="#chart_pnl_tab">Profit and Loss</a></li>
      <li><a href="#upload_tab">Upload</a></li>
    </ul>

    <div id="transactions_tab" class="fixed-height-wrapper">
      <fieldset name="transactions" class="ui-corner-all">
        <legend>Summary</legend>
        <form action="#" method="GET">{% csrf_token %}
          <div class="information-table ui-corner-all">
            <table class="sortable-root">
              <thead>
                <tr class="header">
                  <th class="sortable" data-selector="td.category" data-sorter="lexical_sorter">Category</th>
                  <th>#&nbsp;Transactions</th>
                  <th>Incoming</th>
                  <th>Outgoing</th>
                  <th class="sortable" data-selector="td.net_total" data-sorter="numeric_sorter">Net</th>
                </tr>
              </thead>
              <tbody class="sortable-parent">
{% for category in categories %}
{% if not category.is_reconciling %}
                <tr data-id='{{ category.id }}'>
                  <td class='category'><label><input type='checkbox' onclick="wsrc.admin.accounts.on('update_transactions_table')"> {{ category.description }}</label></td>
                  <td class='count'> <td class='incoming'></td>
                  <td class='outgoing'></td>
                  <td class='net_total'></td>
                </tr>
{% endif %}
{% endfor %}
              </tbody>
              <tfoot>
                <tr data-id='total'>
                  <td class='category'><input type='checkbox' checked="checked" disabled="disabled"> All</td>
                  <td class='count'>
                  <td class='incoming'></td>
                  <td class='outgoing'></td>
                  <td class='net_total'></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="ui-field-contain">
            <label for="transactions_account_selector">Account:</label>
            <select name="account" id="transactions_account_selector" class="ui-corner-all" onchange="wsrc.admin.accounts.on('update_transaction_and_summary_tables')">
{% for acc in accounts %}
              <option value="{{ acc.id }}" {% if account.id == acc.id %}selected="selected"{% endif %}>{{ acc.name }}</option>
{% endfor %}
            </select>
          </div>
          {% include "form_field_snippet_jq_ui.html" with label="Start Date" name="start_date" id="transactions_start_date_input" class="datepicker datepicker-three-months" onchange="wsrc.admin.accounts.on('update_transaction_and_summary_tables')" %}
          {% include "form_field_snippet_jq_ui.html" with label="End Date"   name="end_date"   id="transactions_end_date_input"   class="datepicker datepicker-today" onchange="wsrc.admin.accounts.on('update_transaction_and_summary_tables')" %}
          <div class="ui-field-contain">
            <label>Date Type:</label>
            <div class="radio-buttonset">
              <input name="transactions_date_type" id="transactions_cleared" type="radio" value="date_cleared" checked="checked" onchange="wsrc.admin.accounts.on('update_transaction_and_summary_tables')"><label for="transactions_cleared">Cleared</label>
              <input name="transactions_date_type" id="transactions_issued"  type="radio" value="date_issued" onchange="wsrc.admin.accounts.on('update_transaction_and_summary_tables')"><label for="transactions_issued">Issued</label>
            </div>
          </div>
          <div class="ui-field-contain">
            <label>First Date:</label>
            <div class="radio-buttonset">
              <input name="transactions_date_ordering" id="dates_descending" type="radio" value="descending" onchange="wsrc.admin.accounts.on('update_transaction_and_summary_tables')" checked="checked"><label for="dates_descending">Newest</label>
              <input name="transactions_date_ordering" id="dates_ascending"  type="radio" value="ascending" onchange="wsrc.admin.accounts.on('update_transaction_and_summary_tables')"><label for="dates_ascending">Oldest</label>
            </div>
          </div>
        </form>
      </fieldset>
      <div class="container">
        <table class="transactions sortable-root">
          <thead>
            <tr class="header">
              <th>Issued</th>
              <th>Cleared</th>
              <th>Code</th>
              <th>Cheque&nbsp;#</th>
              <th>Bank&nbsp;Memo</th>
              <th>Comment</th>
              <th>Category</th>
              <th>Amount</th>
              <th>Balance</th>
            </tr>
          </thead>
          <tbody class="sortable-parent">
          </tbody>
        </table>
      </div>
    </div>

    <div id="chart_balances_tab">
      <fieldset name="transactions" class="ui-corner-all">
        <legend>Chart Controls</legend>
        <form action="#" method="GET">
          <div class="ui-field-contain datepicker-range">
            <label>Date Range: </label>
            <input name="start_date" class="datepicker datepicker-2000"  onchange="wsrc.admin.accounts.on('draw_balances_chart')"> &ndash;
            <input name="end_date"   class="datepicker datepicker-today" onchange="wsrc.admin.accounts.on('draw_balances_chart')">
            
          </div>
          <div class="ui-field-contain">
            <label>Balances:</label>
            <div class="radio-buttonset">
              <input name="balance_display_type" id="balances_separate" type="radio" value="separate" onchange="wsrc.admin.accounts.on('draw_balances_chart')" checked="checked"><label for="balances_separate">Separate</label>
              <input name="balance_display_type" id="balances_combined" type="radio" value="combined" onchange="wsrc.admin.accounts.on('draw_balances_chart')"><label for="balances_combined">Combined</label>
            </div>
          </div>
        </form>
      </fieldset>
      <div class="chart_div"></div>
    </div>

    <div id="chart_comparables_tab">
      <fieldset class="ui-corner-all">
        <legend>Categories and Intervals</legend>
        <form>
          <div class="ui-field-contain datepicker-range">
            <label>Interval Type: </label>
            <select name="interval_type" onchange="wsrc.admin.accounts.on('init_comparables_chart')">
              <option value="0">Annual</option>
              <option value="1">Quarter 1</option>
              <option value="2">Quarter 2</option>
              <option value="3">Quarter 3</option>
              <option value="4">Quarter 4</option>
            </select>
          </div>
        </form>
      <table class="summary-table">
        <thead>
          <tr>
            <th class='category'>Category</th>
          </tr>
        </thead>
        <tbody>
{% for category in categories %}
{% if not category.is_reconciling %}
          <tr class="{% cycle '' 'alt' %}" data-id='{{ category.id }}'>
            <td class='category'><label><input type='checkbox' onclick="wsrc.admin.accounts.on('draw_comparables_chart')"> {{ category.description }}</label></td>
          </tr>
{% endif %}
{% endfor %}

        </tbody>
        <tfoot>
          <tr data-id='_in_subtotal' ><th class='category'><input type='checkbox' disabled='disabled'> Income (selected)</th></tr>
          <tr data-id='_out_subtotal' class="alt"><th class='category'><input type='checkbox' disabled='disabled'> Expenditure (selected)</th></tr>
          <tr data-id='_net_subtotal'><th class='category'><input type='checkbox' disabled='disabled'> Net (selected)</th></tr>
          <tr data-id='_in_total' class='separated'><th class='category'><input type='checkbox' disabled='disabled'> Income (total)</th></tr>
          <tr data-id='_out_total' class="alt"><th class='category'><input type='checkbox' disabled='disabled'> Expenditure (total)</th></tr>
          <tr data-id='_net_total'><th class='category'><input type='checkbox' disabled='disabled'> Net Total</th></tr>
        </tfoot>
      </table>
      </fieldset>
      <div class="chart_div"></div>
    </div>

    <div id="chart_pnl_tab">
      <div class="chart_div" style="float: right"></div>
      <fieldset class="ui-corner-all">
        <legend>Summary</legend>
        <form>
          <div class="ui-field-contain datepicker-range">
            <label>Date Range: </label>
            <input name="start_date" class="datepicker datepicker-three-months"  onchange="wsrc.admin.accounts.on('init_pnl_chart')"> &ndash;
            <input name="end_date"   class="datepicker datepicker-today"         onchange="wsrc.admin.accounts.on('init_pnl_chart')">
          </div>
        </form>
        <table class="summary-table sortable-root">
          <thead>
            <tr data-id='profit'>
              <th class='category'>Category</th>
              <th class='category'>Income</th>
              <th class='category'>Expenditure</th>
            </tr>
          </thead>
          <tbody class="sortable-parent">
{% for category in categories %}
{% if not category.is_reconciling %}
            <tr class="{% cycle '' 'alt' %}" data-id='{{ category.id }}'>
              <th class='category'><label><input type='checkbox' onclick="wsrc.admin.accounts.on('draw_comparables_chart')"> {{ category.description }}</label></th>
              <td class='amount'></td>
              <td class='amount'></td>
            </tr>
{% endif %}
{% endfor %}
          </tbody>
          <tfoot>
            <tr data-id='_subtotal' >
              <th class='category'><input type='checkbox' disabled='disabled'> Total (selected)</th>
              <td class='amount profit'></td>
              <td class='amount loss'></td>
            </tr>
            <tr data-id='_total'>
              <th class='category'><input type='checkbox' disabled='disabled'> Total</th>
              <td class='amount profit'></td>
              <td class='amount loss'></td>
            </tr>
          </tfoot>
        </table>
      </fieldset>
    </div>

    <div id="upload_tab" class="fixed-height-wrapper">

{% if csv_data %}
      <form action="#" method="GET" onsubmit="return false;">{% csrf_token %}
        <fieldset name="file_upload" class="ui-corner-all">
          <legend>Transaction Upload</legend>
          <div class="information-set">
            {% include "form_field_snippet_jq_ui.html" with label="# Transactions"   name="transaction_count"   id="upload_transaction_count_input" class="readonly"%}
            {% include "form_field_snippet_jq_ui.html" with label="# Uncategorized"   name="uncategorized_count"   id="upload_uncategorized_count_input" class="errorfield readonly"%}
            {% include "form_field_snippet_jq_ui.html" with label="Incoming"   name="incoming"   id="upload_incoming_input" class="readonly"%}
            {% include "form_field_snippet_jq_ui.html" with label="Outgoing"   name="outgoing"   id="upload_outgoing_input" class="readonly"%}
          </div>
          {% include "form_field_snippet_jq_ui.html" with label="Start Date" name="start_date" id="upload_start_date_input" class="datepicker" onchange="wsrc.admin.accounts.on('handle_upload_data_changed')" %}
          {% include "form_field_snippet_jq_ui.html" with label="End Date"   name="end_date"   id="upload_end_date_input"   class="datepicker" onchange="wsrc.admin.accounts.on('handle_upload_data_changed')" %}
          <div class="ui-field-contain">
            <label for="upload_account_selector">Account:</label>
            <select name="account" id="upload_account_selector" disabled="disabled">
              <option value="">-</option>
{% for acc in accounts %}
              <option value="{{ acc.id }}" {% if acc.id == uploaded_acc.id %}selected="selected"{% endif %}>{{ acc.name }}</option>
{% endfor %}
            </select>
            <button id='upload_go_button' onclick="wsrc.admin.accounts.on('upload_transactions')" disabled='true'>Go</button>
          </div>
        </fieldset>
      </form>
{% else %}
      <form action="#upload_tab" enctype="multipart/form-data" method="post">{% csrf_token %}
        <fieldset name="file_upload" class="ui-corner-all">
          <legend>File Upload</legend>
{% include "form_field_snippet_jq_ui.html" with field=form.file add_submit_button=True %}
        </fieldset>
      </form>
{% endif %}
    <div class="container">
      <table class="transactions" id="transaction-upload-table">
        <thead>
          <tr class="header">
            <th>Ignore</th>
            <th>Issued</th>
            <th>Cleared</th>
            <th>Amount</th>
            <th>Cheque&nbsp;#</th>
            <th>Bank&nbsp;Code</th>
            <th>Bank&nbsp;Memo</th>
            <th>Category</th>
            <th>Subscription</th>
            <th>Update Sub</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
{% for row in csv_data %}
{% if row.Amount or row.Number %}
          <tr class="{% cycle '' 'alt' %} {% if  row.x_duplicate %}ignored{% endif %}">
            <td class="duplicate"><input type="checkbox" name="duplicate" {% if  row.x_duplicate %}checked="checked"{% endif %}  onchange="wsrc.admin.accounts.on('handle_upload_data_changed')"></td>
            <td class="date_issued">{{ row.Date }}</td>
            <td class="date_cleared">{% if "Cleared" in row %}{% if row.Cleared|lower == "y" %}{{ row.Date }}{% endif %}{% else %}{{ row.Date }}{% endif %}</td>
            <td class="amount {% if row.Amount|parse_float < 0.0 %}debit{% else %}credit{% endif %}" >{{ row.Amount }}</td>
            <td class="bank_number">{{ row.Number }}</td>
            <td class="bank_code">{{ row.Subcategory }}</td>
            <td class="bank_memo">{{ row.Memo }}</td>
            <td class="category">
                <!-- {{ row.Category|lower }} -->
              <select name="category" onchange="wsrc.admin.accounts.on('handle_upload_data_changed')">
                <option value="">-</option>
{% for category in categories %}
                <option value="{{ category.id }}" {% if category.id == row.category_id %}selected="selected"{% endif %}>{{ category.description }}</option>
{% endfor %}
              </select>
            </td>
            <td class="subscription">
                <!-- {{ row.Category|lower }} -->
              <select name="subscription">
                <option value="">-</option>
{% for sub in subscriptions %}
                <option value="{{ sub.id }}" {% if sub.id == row.subscription.id %}selected="selected"{% endif %}>{{ sub.player.get_ordered_name }}&nbsp;{{ sub.season }}</option>
{% endfor %}
              </select>
            </td>
            <td class="sub_update"><input name="sub_update" type="checkbox" {% if row.subscription and row.subscription.season != latest_season %}checked="checked"{% endif %} value="y" /></td>
            <td class="comment"><input name="comment" value="{{ row.Comment }}"></td>
          </tr>
{% endif %}
{% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div id="swing-transaction-dialog" title="Balancing Transaction">
    <form>
      <fieldset class="ui-corner-all">
        <div class="ui-field-contain">
          <label for="swing_from_selector">From:</label>
          <select name="from" id="swing_from_selector">
            <option value="">-</option>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.description }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="ui-field-contain">
          <label for="swing_to_selector">To:</label>
          <select name="to" id="swing_to_selector">
            <option value="">-</option>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.description }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="ui-field-contain">
          <label for="swing_date">Date:</label>
          <input class="datepicker datepicker-today" name="date" id="swing_date">
        </div>        
        <div class="ui-field-contain">
          <label for="swing_amount">Amount:</label>
          <input type="number" name="amount" id="swing_amount" value="0.00">
        </div>        
        <div class="ui-field-contain">
          <label for="swing_comment">Comment:</label>
          <input name="comment" id="swing_comment">
        </div>        
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
      </fieldset>
    </form>
  </div>

</body>
</html>
